<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <a href="" class="breadcrumb__link">Industries</a>
    </div>
    <div class="intro__wrap intro__wrap_flex intro__wrap_flex_space-between intro__wrap_creative">
      <div class="intro__text intro__text_max-width-50">
        <h1 class="intro__title_mobile-margin-bottom-0">
          Wondering if Rent a CMO makes sense for your company?
        </h1>
        <h1>
          In a word, YES!
        </h1>
        <p>
          If you sell a product or service on a subscription basis – no matter
          what the product or service is – Rent a CMO is a resource you simply
          can’t afford to pass on.
        </p>
      </div>

      <div class="intro__image intro__image--common">
        <img src="images/industries/intro-industries.svg" alt="">
      </div>
    </div>
  </div>
</section>
