TODO можешь поменять всю секцию хоть, или h2 и ВСЕ p
<section class="partners">
  <div class="container">
    <h2>Here’s just a teeny, tiny, itsy, bitsy sampling of the types of businesses Rent a CMO can partner with:</h2>
    <div class="partners__container">
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/1.svg" alt="Software">
          </div>
          <p class="descr-item__text">Software</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/2.svg" alt="FinTech">
          </div>
          <p class="descr-item__text">FinTech</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/3.svg" alt="Automotive">
          </div>
          <p class="descr-item__text">Automotive</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/4.svg" alt="Insurance">
          </div>
          <p class="descr-item__text">Insurance</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/5.svg" alt="Telecom">
          </div>
          <p class="descr-item__text">Telecom</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/6.svg" alt="Gyms">
          </div>
          <p class="descr-item__text">Gyms</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/7.svg" alt="Salons & Spa">
          </div>
          <p class="descr-item__text">Salons & Spa</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/8.svg" alt="Cosmetics">
          </div>
          <p class="descr-item__text">Cosmetics<br />(i.e., Proactiv)</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/9.svg" alt="Video Streaming">
          </div>
          <p class="descr-item__text">Video Streaming<br />(i.e. Netflix)</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/10.svg" alt="Landscaping">
          </div>
          <p class="descr-item__text">Landscaping</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/11.svg" alt="Magazines">
          </div>
          <p class="descr-item__text">Magazines</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/12.svg" alt="Gourmet coffee/tea">
          </div>
          <p class="descr-item__text">Gourmet coffee/tea<br />(i.e., Nespresso)</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/13.svg" alt="Meal plans">
          </div>
          <p class="descr-item__text">Meal plans (i.e.,<br />Blue Apron)</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/14.svg" alt="Weight-loss">
          </div>
          <p class="descr-item__text">Weight-loss (i.e.,<br />Weight Watchers)</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/15.svg" alt="Wine/fruit/specialty food clubs">
          </div>
          <p class="descr-item__text">Wine/fruit/specialty food clubs</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/16.svg" alt="Service contracts">
          </div>
          <p class="descr-item__text">Service contracts<br />(i.e., Service Pro)</p>
        </div>
      </div>
      <div class="descr-item">
        <div class="descr-item__content descr-item__content_bordered">
          <div class="descr-item__icon">
            <img src="images/industries/17.svg" alt="Books/podcasts">
          </div>
          <p class="descr-item__text">Books/podcasts<br />(i.e., Audible)</p>
        </div>
      </div>
    </div>
  </div>
</section>
