<section class="article-list">
  <article class="article article_main">
    <div class="article__img article__img_main">
      <img src="" alt="">
    </div>
    <div class="article__info">
      <span class="article__info-item article__tag tag">marketing</span>
      <span class="article__info-item article__date">Oct 10, 2018</span>
      <span class="article__info-item article__views">
        <img src="images/blog/views.svg" alt="">
        156
      </span>
    </div>
    <h1>What is Lorem Ipsum?</h1>
  </article>
  <div class="article-list__container">
    <article class="article article_small">
      <div class="article__img">
        <img src="" alt="">
      </div>
      <div class="article__info">
        <span class="article__info-item article__tag tag">marketing</span>
        <span class="article__info-item article__date">Oct 10, 2018</span>
        <span class="article__info-item article__views">
          <img src="images/blog/views.svg" alt="">
          156
        </span>
      </div>
      <h1>What is Lorem Ipsum?</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
    </article>
  </div>
</section>
