<section class="article-list">
  <div class="article-header">
    <div class="article-header__row article-header__row_main">
      <div class="article-header__user">
        <button class="article-header__sign"></button>
      </div>
      <div class="article-header__search search-mobile">
        <button class="search-mobile__btn"></button>

      </div>
      <div class="article-header__select">
        <select class="select">
          <option value="general-inquiry">All articles</option>
        </select>
      </div>
    </div>
    <div class="article-header__row article-header__row_search">
      <div class="search">
        <div class="search__icon"></div>
        <input type="text" class="search__input" placeholder="Search this blog">
      </div>
    </div>
  </div>
  <article class="article article_main">
    <div class="article__img article__img_main">
      <img src="images/article/article01.jpg" alt="">
    </div>
    <div class="article__content">
      <div class="info">
        <span class="info__item info__tag tag">marketing</span>
        <span class="info__item info__date">Oct 10, 2018</span>
        <span class="info__item info__views"><img src="images/blog/views.svg" alt="">156</span>
      </div>
      <a href="article.html">
        <h1>What is Lorem Ipsum?</h1>
      </a>
    </div>
  </article>
  <div class="article-list__banner banner">banner</div>
  <button class="btn btn--success">Sign up for newsletter</button>
  <article class="article article_default article_gray">
    <div class="article__alt-img">
      <img src="images/blog/lyamen.png" alt="Lyamen Savy">
      <div>
        <p class="font-weight-500">Lyamen Savy,</p>
        <p>Chief Marketing Officer</p>
      </div>
    </div>
    <div class="article__content">
      <div class="article__text">
        <a href="article.html">
          <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
      </div>
      <div class="info">
        <span class="info__item info__tag tag">marketing</span>
        <span class="info__item info__date">Oct 10, 2018</span>
        <span class="info__item info__views"><img src="images/blog/views.svg" alt="">156</span>
      </div>
    </div>
  </article>
  <div class="article-list__container">
    <article class="article article_small">
      <div class="article__img">
        <img src="images/blog/02.jpg" alt="">
      </div>
      <div class="article__content">
        <div class="info">
          <span class="info__item info__tag tag">marketing</span>
          <span class="info__item info__date">Oct 10, 2018</span>
          <span class="info__item info__views">
            <img src="images/blog/views.svg" alt="">
            156
          </span>
        </div>
        <div class="article__text">
          <a href="article.html">
            <h1>What is Lorem Ipsum?</h1>
          </a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        </div>
      </div>
    </article>
    <article class="article article_small">
      <div class="article__img">
        <img src="images/blog/03.jpg" alt="">
      </div>
      <div class="article__content">
        <div class="info">
          <span class="info__item info__tag tag">industry news</span>
          <span class="info__item info__date">Oct 10, 2018</span>
          <span class="info__item info__views">
            <img src="images/blog/views.svg" alt="">
            156
          </span>
        </div>
        <div class="article__text">
          <a href="article.html">
            <h1>What is Lorem Ipsum?</h1>
          </a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        </div>
      </div>
    </article>
  </div>
  <article class="article article_default">
    <div class="article__img">
      <img src="images/blog/04.jpg" alt="">
    </div>
    <div class="article__content">
      <div class="article__text">
        <a href="article.html">
          <h1>What is Lorem Ipsum?</h1>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
      </div>
      <div class="info">
        <span class="info__item info__tag tag">marketing</span>
        <span class="info__item info__date">Oct 10, 2018</span>
        <span class="info__item info__views"><img src="images/blog/views.svg" alt="">156</span>
      </div>
    </div>
  </article>
  <article class="article article_default">
    <div class="article__img">
      <img src="images/blog/05.jpg" alt="">
    </div>
    <div class="article__content">
      <div class="article__text">
        <a href="article.html">
          <h1>What is Lorem Ipsum?</h1>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
      </div>
      <div class="info">
        <span class="info__item info__tag tag">marketing</span>
        <span class="info__item info__date">Oct 10, 2018</span>
        <span class="info__item info__views"><img src="images/blog/views.svg" alt="">156</span>
      </div>
    </div>
  </article>
</section>
<div class="pagination-container">
  <ul class="pagination">
    <li class="pagination__page">
      <a href="" class="pagination__link pagination__link_active">1</a></li>
    <li class="pagination__page"><a href="" class="pagination__link">2</a></li>
    <li class="pagination__page"><a href="" class="pagination__link">3</a></li>
    <li class="pagination__page"><a href="" class="pagination__link">4</a></li>
    <li class="pagination__page"><a href="" class="pagination__link">...</a></li>
  </ul>
  <button class="btn">Learn more</button>
</div>
