<aside class="aside">
  <div class="aside__search search">
    <div class="search__icon"></div>
    <input type="text" class="search__input" placeholder="Search this blog">
  </div>
  <h4>Categories</h4>
  <ul class="categories">
    <li class="categories__item">
      All categories
    </li>
    <li class="categories__item">
      <a href="" class="categories__link">Startup</a>
    </li>
    <li class="categories__item">
      <a href="" class="categories__link">Digital transformation</a>
    </li>
    <li class="categories__item">
      <a href="" class="categories__link">Paid media</a>
    </li>
    <li class="categories__item">
      <a href="" class="categories__link">SEO</a>
    </li>
    <li class="categories__item">
      <a href="" class="categories__link">DR Creative</a>
    </li>
    <li class="categories__item">
      <a href="" class="categories__link">Lifecycle marketing</a>
    </li>
    <li class="categories__item">
      <a href="" class="categories__link">Sales enablement</a>
    </li>
  </ul>
  <div class="aside__banner">banner</div>
  <button class="btn btn--success">Sign up for newsletter</button>
</aside>
