<article class="article-main">
  <div class="container">
    <div class="article-main__header">
      <div class="article-main__header-img">
        <img src="images/article/article01.jpg" alt="">
      </div>
      <div class="article-main__info info">
        <div class="info__text-info">
          <div class="info__item info__img">
            <img src="images/meet-the-team/lyamen-photo.png" alt="Lyamen Savy">
          </div>
          <span class="info__item info__author font-weight-500">Lyamen Savy</span>
          <span class="info__item info__date">Oct 10, 2018</span>
          <span class="info__item info__views">
            <img src="images/blog/views.svg" alt="">
            156
          </span>
        </div>
        <div class="info__tags">
          <span class="info__item info__tag tag">marketing</span>
        </div>
      </div>
    </div>
    <!-- TO DO NEWNEW ДОБАВИТЬ КЛАСС -->
    <h1 class="h1">What is Lorem Ipsum?</h1>
    <!-- TO DO NEWNEW ДОБАВИТЬ КЛАСС -->
    <h2 class="h2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h2>
    <!-- TO DO NEWNEW ДОБАВИТЬ КЛАСС -->
    <p class="h2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    <div class="article-main__article-img"><img src="images/article/article02.jpg" alt=""></div>
    <!-- TO DO NEWNEW ДОБАВИТЬ КЛАСС -->
    <hr class="hr">
    <p class="italic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <!-- TO DO NEWNEW ДОБАВИТЬ КЛАСС -->
    <hr class="hr">
    <div class="article-main__list">
      <h2>Lorem Ipsum</h2>
      <ul class="list">
        <li>Lorem Ipsum is simply dummy</li>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum is simply dummy text of the printing</li>
        <li>Lorem Ipsum is simply dummy</li>
      </ul>
    </div>
  </div>
</article>
