<section class="recommended">
  <div class="container">
    <h2>Recommended</h2>
    <div class="article-list">
      <div class="article-list__container article-slider">
        <article class="article article_small">
          <div class="article__img">
            <img src="" alt="">
          </div>
          <div class="article__content">
            <div class="info">
              <span class="info__item info__tag tag">marketing</span>
              <span class="info__item info__date">Oct 10, 2018</span>
              <span class="info__item info__views">
                <img src="images/blog/views.svg" alt="">156
              </span>
            </div>
            <div class="article__text">
              <a href="article.html">
                <h1>What is Lorem Ipsum?</h1>
              </a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
            </div>
          </div>
        </article>
        <article class="article article_small">
          <div class="article__img">
            <img src="" alt="">
          </div>
          <div class="article__content">
            <div class="info">
              <span class="info__item info__tag tag">marketing</span>
              <span class="info__item info__date">Oct 10, 2018</span>
              <span class="info__item info__views">
                <img src="images/blog/views.svg" alt="">156
              </span>
            </div>
            <div class="article__text">
              <a href="article.html">
                <h1>What is Lorem Ipsum?</h1>
              </a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
