<section class="descr-section descr-section_border">
  <div class="container">
    <h2>Book a strategy session with your CMO</h2>
    <div class="descr-section__container">
      <div class="descr-section__content">
        <h3>
          Lyamen Savy has spent thousands of hours and millions of dollars getting
          subscription model startups off the ground and thriving.
        </h3>
        <p>
          (And that’s on top of all the Fortune 100s she’s helped scale while
          improving efficiency.) Every strategy session is custom-designed to
          ensure that entrepreneurs like you have the best chance possible to
          bring successful products to market.
        </p>
        <div class="subscribe">
          <form action="">
            <div class="subscribe__text subscribe__text_alt">Get $1,500 of FREE advice:</div>
            <div class="subscribe__container subscribe__container_column">
              <div class="subscribe__controls">
                <label for="250-for-30min-1" class="subscribe__label radio-btn">
                  <span class="radio-btn__text">$250 for 30min</span>
                  <input type="radio" id="250-for-30min-1" name="price-1" />
                  <span class="radio-btn__checkmark"></span>
                </label>
                <label for="500-for-hour-1" class="subscribe__label radio-btn">
                  <span class="radio-btn__text">$500 for 1 hour</span>
                  <input type="radio" id="500-for-hour-1" name="price-1" />
                  <span class="radio-btn__checkmark"></span>
                </label>
                <label for="2000-for-day-1" class="subscribe__label radio-btn active">
                  <span class="radio-btn__text">$2,000 for all day</span>
                  <input type="radio" id="2000-for-day-1" name="price-1" checked />
                  <span class="radio-btn__checkmark"></span>
                </label>
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <button class="btn btn--success btn--big">Book your strategy session</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="descr-section__img">
        <img src="images/startup/lyamen-photo.png" alt="Lyamen Savy">
      </div>
    </div>
  </div>
</section>
