<section class="growth growth_startup">
  <div class="container">
    <h2>There’s a graveyard of startups that have failed because <br />they didn’t know how to market and sell their products.</h2>
    <h3>We dig in deep before you spend any engineering dollars, giving you the absolute best <br />chance at success.</h3>
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-488">
          <img src="images/startup/quantitative-statistical-insights.svg" alt="Quantitative statistical insights">
        </div>
        <div class="descr-block__content">
          <h4>Validate demand with concrete and quantitative statistical <br />insights</h4>
          <p>
            Drill down deep into features and price points your target
            customer is willing to pay so you can weed out duds long before
            they end up costing you big.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-488">
          <img src="images/startup/pricing-plans.svg" alt="Pricing plans">
        </div>
        <div class="descr-block__content">
          <h4>Create pricing plans for accelerated growth and maximum profitability</h4>
          <p>
            The right subscription bundles and pricing plans convert website
            visitors into customers, reduce churn, and increase lifetime value.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-435">
          <img src="images/startup/sustainable-revenue-models.svg" alt="Sustainable revenue models">
        </div>
        <div class="descr-block__content">
          <h4>Develop sustainable revenue models and monetization <br />strategies</h4>
          <p>
            With proven techniques to get customers to buy, pay, renew, and
            even pay more.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-488">
          <img src="images/startup/ideal-customer-profile.svg" alt="Ideal customer profile">
        </div>
        <div class="descr-block__content">
          <h4>
            Zero-in on a value proposition that’s unique enough to spell “money”
          </h4>
          <p>
            Including defining your ideal customer profile (ICP) so you
            know exactly what that customer looks like and what motivates
            them to crack open their wallets.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-429">
          <img src="images/startup/angel-vc-investors.svg" alt="Angel-vc-Investors">
        </div>
        <div class="descr-block__content">
          <h4>
            Raise the funding you need from Angel and VC investors
          </h4>
          <p>
            We’re pros at devising marketing plans that give investors the
            warm fuzzies. Our lean startup approach to marketing inspires
            investor confidence and delivers on growth expectations. We’ll
            nail it for you!
          </p>
        </div>
      </div>
      <!-- TODO добавить блок -->
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-429">
          <img src="images/startup/expertise-by-the-day.svg" alt="Expertise by the day">
        </div>
        <div class="descr-block__content">
          <h4>
            Expertise — by the day
          </h4>
          <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
          <p>Don’t need a full&#8209;time CMO? Might hire one eventually? In the meantime, get high&#8209;level marketing expertise — one day at a time. Use us to tackle specific problems or take junior staff under our wing. Weekly. Biweekly. Monthly. We’re flexible.</p>
        </div>
      </div>
    </div>
  </div>
</section>
