<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <!-- TODO убрать Capabilities -->
      <span class="breadcrumb__link">Startup Accelerator</span>
    </div>
    <div class="intro__wrap intro__wrap_flex intro__wrap_startup">
      <div class="intro__text intro__text_creative-dev">
        <h1>
          Next-level marketing consulting that preps startups for radical success
        </h1>

        <div class="subscribe">
          <form action="">
            <div class="subscribe__text subscribe__text_alt">Get $1,500 of FREE advice:</div>
            <div class="subscribe__container subscribe__container_column">
              <div class="subscribe__controls">
                <label for="250-for-30min" class="subscribe__label radio-btn">
                  <span class="radio-btn__text">$250 for 30min</span>
                  <input type="radio" id="250-for-30min" name="price" />
                  <span class="radio-btn__checkmark"></span>
                </label>
                <label for="500-for-hour" class="subscribe__label radio-btn">
                  <span class="radio-btn__text">$500 for 1 hour</span>
                  <input type="radio" id="500-for-hour" name="price" />
                  <span class="radio-btn__checkmark"></span>
                </label>
                <label for="2000-for-day" class="subscribe__label radio-btn active">
                  <span class="radio-btn__text">$2,000 for all day</span>
                  <input type="radio" id="2000-for-day" name="price" checked />
                  <span class="radio-btn__checkmark"></span>
                </label>
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <button class="btn btn--big btn--success">Book your strategy session</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="intro__image intro__image--startup intro__image_with-gradient">
        <img src="images/intro-startup.svg" alt="">
      </div>
    </div>
  </div>
</section>
