<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <a href="" class="breadcrumb__link">Capabilities</a>
      <span class="breadcrumb__divider">/</span>
      <a href="" class="breadcrumb__link">Startup Accelerator</a>
    </div>
    <div class="intro__wrap intro__wrap_flex">
      <div class="intro__text intro__text_creative-dev">
        <h1>
          Next-level marketing consulting that preps startups for radical success
        </h1>

        <div class="subscribe">
          <form action="">
            <div class="subscribe__text subscribe__text_alt">Get $1,500 of FREE advice:</div>
            <div class="subscribe__container">
              <div class="subscribe__controls subscribe__group_big">
                <label for="2000-for-day" class="subscribe__label radio-btn">
                  <span class="radio-btn__text">$2,000 for all day</span>
                  <input type="radio" id="2000-for-day" />
                  <span class="radio-btn__checkmark"></span>
                </label>
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <button class="btn btn--success">Contact me</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="intro__image intro__image--lifecycle">
        <img src="images/intro-startup.svg" alt="">
      </div>
    </div>
  </div>
</section>
