<section class="quote">
  <div class="container quote__container">
    <div class="quote__text">
      <div class="quote__img">
        <img src="images/startup/quote.svg" alt="Quote">
      </div>
      <p>
        “If you’re building a product that nobody wants, it doesn’t matter
        if you’re doing it on time and on budget.”<br />— from <span class="blue">“The Lean Startup”</span>
      </p>
    </div>
    <div class="quote__book-img">
      <img src="images/startup/book.png" alt="Book">
    </div>
  </div>
</section>
