<section class="work-steps">
  <div class="container">
    <h2>How it works:</h2>
    <h3>Strategies that are absolutely critical for you to ramp up fast and make a huge splash without a ton of cash</h3>
    <div class="work-steps__container">
      <div class="step step_work-steps step_with-process-line step_with-process-line_big">
        <div class="step__count step__count_alt">
          1
        </div>
        <h4>Choose a session</h4>
        <p>Get battle-tested recommendations on your first phone call.<br />Choose from the following 3 options:</p>
        <div class="subscribe">
          <form action="">
            <div class="subscribe__container subscribe__container_column">
              <div class="subscribe__controls subscribe__controls_wrap">
                <label for="250-for-30min-2" class="subscribe__label subscribe__label_width-50 radio-btn radio-btn_alt">
                  <span class="radio-btn__text">$250 for 30min</span>
                  <input type="radio" id="250-for-30min-2" name="price-2" />
                  <span class="radio-btn__checkmark"></span>
                </label>
                <label for="500-for-hour-2" class="subscribe__label subscribe__label_width-50 radio-btn radio-btn_alt">
                  <span class="radio-btn__text">$500 for 1 hour</span>
                  <input type="radio" id="500-for-hour-2" name="price-2" />
                  <span class="radio-btn__checkmark"></span>
                </label>
                <label for="2000-for-day-2" class="subscribe__label subscribe__label_width-100 radio-btn active">
                  <span class="radio-btn__text">Get $1,500 of FREE advice: $2,000 for all day.</span>
                  <input type="radio" id="2000-for-day-2" name="price-2" checked />
                  <span class="radio-btn__checkmark"></span>
                </label>
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <button class="btn btn--success">Book a strategy session</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="step step_work-steps step_with-process-line step_with-process-line_small">
        <div class="step__count step__count_alt">
          2
        </div>
        <h4>Book a time</h4>
        <p>
          We'll send you a link to access your CMO’s calendar, check her 
          availability and pick a date and time that suits you.
        </p>
      </div>
      <div class="step step_margin-right-0 step_work-steps step_with-process-line step_with-process-line_mobile">
        <div class="step__count step__count_alt">
          3
        </div>
        <h4>Start your session</h4>
        <p>
          At the time of your session, all you have to do is click a secure
          link in your email and have a video meeting with your CMO. Your video
          call will be recorded and available to you on demand.
        </p>
      </div>
    </div>
  </div>
</section>
