<div id="download-modal" class="modal custom-modal custom-modal_download">
  <a href="" rel="modal:close" class="modal-close">
    <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 610.79">
      <g id="cross"><polygon fill="#ffffff" points="612 35.4 576.52 0 306 270 35.48 0 0 35.4 270.52 305.41 0 575.39 35.48 610.79 306 340.81 576.52 610.79 612 575.39 341.46 305.41 612 35.4"/></g>
    </svg>
  </a>
  <div class="custom-modal__title">
    <h1>Download our list of 20+ SEO tools we use every day.</h1>
    <h2>Get our toolbox PDF:</h2>
  </div>
  <form action="" class="download-form">
    <div class="form__item">
      <input type="text" id="first-name" class="form__input" placeholder="First Name" required>
    </div>
    <div class="form__item">
      <input type="email" class="form__input" id="mail" placeholder="Email" required>
    </div>
    <!-- TODO обновить класс -->
    <a href="" download="" class="btn btn--success btn--success_inactive _send-pdf">Send me the PDF</a>
  </form>
</div>
