<section class="growth">
  <div class="container">
    <h2>For high growth companies:</h2>
    <h3>Everything you need to maintain your lead or fend off competitive pressure.</h3>
    <div class="growth__container">
      <div class="descr-block">
        <div class="descr-block__img">
          <img src="images/growth/marketing.svg" alt="Marketing Qualified Leads (MQL)">
        </div>
        <div class="descr-block__content">
          <h4>Marketing Qualified Leads (MQL)</h4>
          <p>
            <span class="blue">Demand generation strategies</span> guaranteed to deliver hot marketing
            qualified leads and buyers at the lowest cost per acquisition.
          </p>
        </div>
      </div>
      <div class="descr-block">
        <div class="descr-block__img">
          <img src="images/growth/new-customer.svg" alt="New Customer Acquisition">
        </div>
        <div class="descr-block__content">
          <h4>New Customer Acquisition</h4>
          <p>
            <span class="blue">Self-service acquisition strategies</span>
             that allow you to cost-effectively sell low-priced products, scale,
            and grow without hiring sales people.
          </p>
        </div>
      </div>
      <div class="descr-block">
        <div class="descr-block__img descr-block__img_width-467">
          <img src="images/growth/adoption.svg" alt="Adoption & Renewals">
        </div>
        <div class="descr-block__content">
          <h4>Adoption & Renewals</h4>
          <p>
            Post-sale digital customer experiences that <span class="blue">increase adoptions, usage & renewals.</span>
          </p>
        </div>
      </div>
      <div class="descr-block">
        <div class="descr-block__img descr-block__img_width-443">
          <img src="images/growth/upsell.svg" alt="Upsell & Cross-Sell">
        </div>
        <div class="descr-block__content">
          <h4>Upsell & Cross-Sell</h4>
          <p>
            <span class="blue">Killer lifecycle marketing automation</span> strategies that increase average revenue per customer and LTV.
          </p>
        </div>
      </div>
      <div class="descr-block">
        <div class="descr-block__img descr-block__img_width-365">
          <img src="images/growth/partner.svg" alt="Partner Channel Growth">
        </div>
        <div class="descr-block__content">
          <h4>Partner Channel Growth</h4>
          <p>
            <span class="blue">Scalable partner programs</span> that accelerate your growth and boost your profits.
          </p>
        </div>
      </div>
      <div class="descr-block">
        <div class="descr-block__img descr-block__img_width-443">
          <img src="images/growth/sales.svg" alt="Sales & Marketing Operations">
        </div>
        <div class="descr-block__content">
          <h4>Sales & Marketing Operations</h4>
          <p>
            <span class="blue">Sales and marketing operations playbook</span> that gets everyone on the same page all the time for maximum efficiency & profitability.
          </p>
        </div>
      </div>
    </div>
    <button class="btn btn--success">Find out more</button>
  </div>
</section>
