<div id="submit-modal" class="modal custom-modal">
  <a href="" rel="modal:close" class="modal-close">
    <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 610.79">
      <g id="cross"><polygon fill="#ffffff" points="612 35.4 576.52 0 306 270 35.48 0 0 35.4 270.52 305.41 0 575.39 35.48 610.79 306 340.81 576.52 610.79 612 575.39 341.46 305.41 612 35.4"/></g>
    </svg>
  </a>
  <h2>Thank You!</h2>
  <h3>We received your request. Our CMO, Lyamen Savy, will be in touch with you shortly to learn more about your business objectives and provide a cost estimate.</h3>
  <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
  <p>For faster service, call 1&#8209;866&#8209;6&#8209;RENT&#8209;CMO (1&#8209;866&#8209;673&#8209;6826).</p>
  <p>For all press inquiries, email <a href="mailto:press@rentcmo.com">press@rentcmo.com</a>.</p>
</div>
