<section class="profits">
  <div class="container">
    <h2>Increase profits … not payroll</h2>
    <h3>
      Rent a dream team of marketing strategists, analysts, designers,
      copywriters, and developers ready to take your sales to the next level.
    </h3>
    <p>
      No handholding. No learning curve. We know subscription business models
      better than anyone. But don’t take our word for it. Here’s what others
      are saying ...
    </p>
    <div class="reviews-slider">
      <div>
        <div class="reviews-slider__content">
          <p>
            “Innovative, flawless execution, including positioning, messaging and
            traditional mass media. Always on the leading edge.”
          </p>
          <div class="reviews-slider__author">
            <div class="reviews-slider__img">
              <img src="images/reviews/reviews-1.jpg" alt="Andrew Tempest photo" />
            </div>
            <div class="reviews-slider__author-info">
              <div class="reviews-slider__author-name">
                Andrew Tempest, Business Director
              </div>
              <div class="reviews-slider__logo-img">
                <img src="images/reviews/capital-one-logo.png" alt="Capital One">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="reviews-slider__content">
          <p>
            “I was immediately impressed by Lyamen subject matter expertise. Even
            though it was a huge operation, she ran that business like clockwork,
            and introduced a whole new level of maturity on our paid strategy.”
          </p>
          <div class="reviews-slider__author">
            <div class="reviews-slider__img">
              <img src="images/reviews/reviews-2.jpg" alt="Rene Garcia photo" />
            </div>
            <div class="reviews-slider__author-info">
              <div class="reviews-slider__author-name">
                Rene Garcia,  GTM for Office 365 Commercial Direct, Microsoft
              </div>
              <div class="reviews-slider__logo-img">
                <img src="images/reviews/microsoft-logo.png" alt="Microsoft">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="reviews-slider__content">
          <p>
            “Lyamen led significant investments and growth outcomes for Office
            365 customer acquisition. Her razor focus on growth outcomes paired
            with an outstanding lean startup mindset (fast turn, do, measure,
            learn loops to persevere, pivot, or fail fast investments) in planning
            and execution, was a pleasure to witness and learn from. One of the
            best digital marketing leaders.”
          </p>
          <div class="reviews-slider__author">
            <div class="reviews-slider__img">
              <img src="images/reviews/reviews-3.jpg" alt="Karthik Ravindran photo" />
            </div>
            <div class="reviews-slider__author-info">
              <div class="reviews-slider__author-name">
                Karthik Ravindran, Principal Group Product and Engineering Manager, Microsoft
              </div>
              <div class="reviews-slider__logo-img">
                <img src="images/reviews/microsoft-logo.png" alt="Microsoft">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="reviews-slider__content">
          <p>
            “Innovative, flawless execution, including positioning, messaging and
            traditional mass media. Always on the leading edge.”
          </p>
          <div class="reviews-slider__author">
            <div class="reviews-slider__img">
              <img src="images/reviews/reviews-1.jpg" alt="Andrew Tempest photo" />
            </div>
            <div class="reviews-slider__author-info">
              <div class="reviews-slider__author-name">
                Andrew Tempest, Business Director
              </div>
              <div class="reviews-slider__logo-img">
                <img src="images/reviews/capital-one-logo.png" alt="Capital One">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="reviews-slider__content">
          <p>
            “I was immediately impressed by Lyamen subject matter expertise. Even
            though it was a huge operation, she ran that business like clockwork,
            and introduced a whole new level of maturity on our paid strategy.”
          </p>
          <div class="reviews-slider__author">
            <div class="reviews-slider__img">
              <img src="images/reviews/reviews-2.jpg" alt="Rene Garcia photo" />
            </div>
            <div class="reviews-slider__author-info">
              <div class="reviews-slider__author-name">
                Rene Garcia,  GTM for Office 365 Commercial Direct, Microsoft
              </div>
              <div class="reviews-slider__logo-img">
                <img src="images/reviews/microsoft-logo.png" alt="Microsoft">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="reviews-slider__content">
          <p>
            “Lyamen led significant investments and growth outcomes for Office
            365 customer acquisition. Her razor focus on growth outcomes paired
            with an outstanding lean startup mindset (fast turn, do, measure,
            learn loops to persevere, pivot, or fail fast investments) in planning
            and execution, was a pleasure to witness and learn from. One of the
            best digital marketing leaders.”
          </p>
          <div class="reviews-slider__author">
            <div class="reviews-slider__img">
              <img src="images/reviews/reviews-3.jpg" alt="Karthik Ravindran photo" />
            </div>
            <div class="reviews-slider__author-info">
              <div class="reviews-slider__author-name">
                Karthik Ravindran, Principal Group Product and Engineering Manager, Microsoft
              </div>
              <div class="reviews-slider__logo-img">
                <img src="images/reviews/microsoft-logo.png" alt="Microsoft">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
