<section class="growth growth_paid-media growth_sales growth_gray-bg">
  <div class="container">
    <h2>Before you pass inbound leads to your salespeople, make sure they are prepared to successfully lead them towards a close.</h2>
    <p>
      Whether you’re launching a new product, update, or service, Rent a CMO
      can arm your team with the content and confidence they need to drive up
      revenue. With every customer interaction. At every stage of the funnel.
    </p>
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/sales-enablement/sales-bom-deliverables.svg" alt="Sales bom deliverables">
        </div>
        <div class="descr-block__content">
          <h4>
            Boost the confidence of your sales force and watch win rates
            soar — our deliverables are da BOM.
          </h4>
          <p>
            We’ll give your reps a Sales BOM with everything they need to close
            more deals including, competitive battle cards, customer case
            studies, comparison videos, sales pitch decks, industry insights,
            you name it.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-488">
          <img src="images/sales-enablement/shorten-sales-cycle.svg" alt="Shorten sales cycles">
        </div>
        <div class="descr-block__content">
          <h4>
            Shorten demo calls and sales cycles while increasing win rates.
          </h4>
          <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
          <p>
            With our research, your team will know precisely what motivates
            your ideal customers to buy your products and what prevents them
            from pulling the trigger. Bye&#8209;bye long, meandering sales calls.
            Hello succinct, targeted pitches and quickly closed deals.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-310">
          <img src="images/sales-enablement/pinpoint-sales-messaging.svg" alt="Pinpoint sales messaging">
        </div>
        <div class="descr-block__content">
          <h4>
            Arm your team with pinpoint sales messaging — for specific
            verticals or industries.
          </h4>
          <p>
            We’ll help create a unique value proposition that resonates
            loud and clear with each market and translates into easier sales.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-429">
          <img src="images/sales-enablement/sales-marketing-playbook.svg" alt="Sales marketing playbook">
        </div>
        <div class="descr-block__content">
          <h4>
            Develop a sales and marketing playbook to get everyone performing
            at the highest level.
          </h4>
          <p>
            Acquiring customers requires cross department coordination.
            It’s a complicated process. We’ll standardize your sales and
            marketing process to eliminate guesswork and deliver maximum
            profitable growth.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
