<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">Sales Enablement</span>
    </div>
    <div class="intro__wrap intro__wrap_padding-top-0 intro__wrap_flex intro__wrap_flex_space-between">
      <div class="intro__text intro__text_max-width-50 intro__text_sales">
        <h1>We make sure your sales team is selling at terminal velocity</h1>

        <div class="subscribe subscribe_internal">
          <form action="">
            <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
            <div class="subscribe__text">Turn your sales team into a well&#8209;oiled money machine</div>
            <div class="subscribe__container">
              <!-- TODO поменять блок div -->
              <div class="subscribe__group subscribe__group_relative subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
                <span class="error">Please enter your email</span>
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <!-- TODO убрать href -->
                <a class="btn btn--success">Contact me</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="intro__image intro__image--sales">
        <img src="images/sales-enablement/terminal-velocity-selling.svg" alt="Terminal velocity selling">
      </div>
    </div>
  </div>
</section>
