<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <!-- TODO убрать Capabilities -->
      <span class="breadcrumb__link">Sales Enablement</span>
    </div>
    <div class="intro__wrap intro__wrap_padding-top-0 intro__wrap_flex intro__wrap_flex_space-between">
      <div class="intro__text intro__text_max-width-50 intro__text_sales">
        <h1>
          We make sure your sales team is selling at terminal velocity
        </h1>

        <div class="subscribe subscribe_internal">
          <form action="">
            <div class="subscribe__text">
              Turn your sales team into a well-oiled money machine
            </div>
            <div class="subscribe__container">
              <div class="subscribe__group subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <a href="#contactForm" class="btn btn--success">Contact me</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="intro__image intro__image--sales">
        <img src="images/sales-enablement/intro-sales.svg" alt="">
      </div>
    </div>
  </div>
</section>
