<section class="statistics statistics_sales statistics_blue-bg">
  <div class="container">
    <div class="statistics__container statistics__container_center">
      <div class="statistics__item statistics__item_width statistics__item_sales">
        <div class="statistics__number statistics__number_alt">98%</div>
        <p>
          of MQLs never result in closed business
        </p>
      </div>
      <div class="statistics__item statistics__item_width statistics__item_sales">
        <div class="statistics__number statistics__number_alt">64%</div>
        <p>
          of field sales people’s time is wasted on administrative responsibilities
        </p>
      </div>
      <div class="statistics__item statistics__item_width statistics__item_sales">
        <div class="statistics__number statistics__number_alt">54%</div>
        <p>
          of sales reps won’t make quota this&nbsp;year
        </p>
      </div>
    </div>
  </div>
</section>
