.article {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  h1 {
    font: {
      size: rem(22);
      weight: 400;
    }
    color: $font-color;
    margin-bottom: rem(10);
  }
  &_main {
    display: block;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: rem(28);
    margin-bottom: rem(24);
    h1 {
      font-size: rem(36);
      margin-bottom: 0;
    }
  }
  &_small {
    display: block;
    width: 47.8%;
    p {
      margin-bottom: rem(33);
    }
  }
  &_default {
    .article__content {
      margin: {
        top: rem(10);
        left: rem(30);
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .article__img {
      min-width: 47.8%;
      max-width: 47.8%;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
    .article__info {
      margin-bottom: 0;
    }
    &:not(:last-child) {
      padding-bottom: rem(30);
      margin-bottom: rem(25);
      border-bottom: 1px solid #d0d0d0;
    }
  }
}

.article__img {
  width: 100%;
  height: rem(250);
  background: $section-bg;
  margin-bottom: rem(10);
  &_main {
    height: rem(330);
  }
}

.article__info {
  font-size: rem(14);
  margin-bottom: rem(25);
}

.article__info-item {
  &:not(:last-child) {
    margin-right: rem(17);
  }
}

.article__views {
  img {
    width: rem(15);
    margin-right: rem(6);
  }
}
