.aside {
  max-width: 26.2%;
  min-width: 26.2%;
  margin-top: rem(37);
  h4 {
    margin-bottom: rem(26);
    font-weight: 400;
  }
  .btn {
    width: 100%;
  }
  @media (max-width: 740px) {
    display: none;
  }
}

.aside__search {
  position: relative;
  margin-bottom: rem(28);
}
