.btn {
  display: block;
  text-align: center;
  border: 1px solid rgba(62, 117, 186, 0.5);
  border-radius: $global-radius;
  box-shadow: none;
  padding: rem(14 39 15);
  cursor: pointer;
  transition: $transition;
  font-size: rem(16);
  color: $second-blue;
  background: #fff;
  white-space: nowrap;
  line-height: 1.15;
  &:hover {
    border-color: $ui-second-color;
  }
  &--success {
    background: $ui-color;
    color: #fff;
    border: none;
    padding: rem(21 50 22);
    &:hover {
      background: $ui-color-hover;
    }
  }
  @media (max-width: 600px) {
    padding: {
      top: rem(12, 14);
      bottom: rem(12, 14);
    }
  }
}

.btn--big {
  @media (max-width: 600px) {
    width: 100%;
    padding: {
      top: rem(13, 14);
      bottom: rem(12, 14);
    }
  }
}
