.btn {
  display: block;
  text-align: center;
  border: none;
  border-radius: $global-radius;
  box-shadow: none;
  padding: rem(21 50 22);
  cursor: pointer;
  transition: $transition;
  font-size: rem(16);
  color: #fffefe;
  &--success {
    background: $ui-color;
    color: #fff;

    &:hover {
      background: $ui-color-hover;
    }
  }
}
