$companies-bg: #779dce;

.companies {
  background: $companies-bg;
  padding: rem(26 0 12);
  h4 {
    font: {
      size: rem(16);
      weight: normal;
    }
    text-align: center;
    color: #fff;
    @media (max-width: 600px) {
      display: none;
    }
  }
  @media (max-width: 600px) {
    padding: rem(14 0, 14);
  }
}

.companies__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-wrap: wrap;
    margin-right: rem(-20);
  }
}

.companies__item {
  &:not(:last-child) {
    margin-right: rem(60);
    @media (max-width: 600px) {
      margin-right: rem(20);
    }
  }
  @media (max-width: 600px) {
    max-width: 25%;
    min-width: 25%;
    margin-right: rem(20);
  }
}
