.contacts__phone,
.contacts__email {
    a {
        position: relative;
    }
    svg {
        display: block;
        height: rem(14);
        width: auto;
    }
}

@media (min-width: $bp-desktop) {
    .contacts__phone,
    .contacts__email {
        a {
            display: block;
            padding-left: rem(22, $desktop-font-size);
        }
        svg {
            width: rem(13, $desktop-font-size);
            position: absolute;
            left: 0;
            top: rem(4, $desktop-font-size);
        }
    }
}
