.contact-us {
  background: $section-bg;
  padding: rem(70 0 79);
  h2 {
    margin-bottom: rem(38);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
      padding: 0 rem(20);
    }
  }
  h3 {
    margin-bottom: rem(38);
    line-height: 1.33;
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
      line-height: 1.44;
    }
  }
  p {
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: rem(38);
      @media (max-width: 600px) {
        margin-bottom: rem(24, 14);
      }
    }
    @media (max-width: 600px) {
      margin-bottom: rem(44, 14);
    }
  }
  @media (max-width: 600px) {
    padding: rem(48 0 32, 14);
    .container {
      padding: 0;
    }
  }
}

.contact-us__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.contact-us__form {
  min-width: 57.2%;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    border: {
      top-left-radius: 3px;
      top-right-radius: 3px;
    }
    background: $ui-color;
    @media (max-width: 600px) {
      border-radius: 0;
    }
  }
  @media (max-width: 600px) {
    min-width: 100%;
  }
}

.contact-us__content {
  margin-right: rem(90);
  padding-top: rem(28);
  @media (max-width: 700px) {
    margin-right: rem(40);
  }
  @media (max-width: 600px) {
    margin-right: 0;
    padding: 0 rem(20);
  }
}
