.jquery-modal {
  &.blocker {
    z-index: 100;
  }
}

.custom-modal {
  background: #fff;
  border-radius: $global-radius;
  max-width: rem(751);
  padding: rem(80 77 77);
  border-top: 2px solid $ui-color;
  box-shadow: none;
  text-align: center;
  a.close-modal {
    display: none;
  }
  h2 {
    margin-bottom: rem(42);
  }
  h3 {
    margin-bottom: rem(40);
  }
  p {
    & + p {
      margin-bottom: 0;
    }
  }
}

.modal-close {
  background-color: $ui-color;
  position: absolute;
  top: 3px;
  right: rem(-30);
  width: rem(30);
  height: rem(30);
  border: {
    top-right-radius: $global-radius;
    bottom-right-radius: $global-radius;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: rem(10);
  }
}
