.descr-slider {
  .slick-slide {
    margin-right: 0;
    @media (max-width: 540px) {
      padding: 0;
    }
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    font-size: 0;
    border-radius: 50%;
    background: {
      repeat: no-repeat;
      position: center center;
    }
  }
  .slick-prev {
    left: 0;
    background-image: url('../images/left-arrow.svg');
  }
  .slick-next {
    right: 0;
    background-image: url('../images/right-arrow.svg');
  }
  .slick-dots {
    li {
      button {
        border-color: $ui-second-color;
        background: transparent;
      }
      &.slick-active {
        button {
          background: $ui-second-color;
        }
      }
    }
  }
}
