.descr-section {
  padding: rem(77 0 0);
  &_padding-bottom {
    padding-bottom: rem(60);
    @media (max-width: 600px) {
      padding-bottom: rem(30, 14);
    }
  }
  &_with-slider {
    padding-bottom: rem(88);
    @media (max-width: 600px) {
      padding-bottom: rem(60, 14);
    }
  }
  &_border {
    .container {
      border-bottom: 1px solid #c4c4c4;
    }
    .descr-section__container {
      padding-bottom: rem(135);
      @media (max-width: 700px) {
        padding-bottom: rem(40, 14);
      }
    }
  }
  &_gray-bg {
    background: $section-bg;
  }
  &_blue-bg {
    background: $second-blue;
    color: #fff;
  }
  h2 {
    margin-bottom: rem(28);
  }
  h3 {
    margin-bottom: rem(34);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  p {
    margin-bottom: rem(32);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  &_h2-big-margin {
    h2 {
      margin-bottom: rem(56);
    }
  }
  &_paid-media {
    padding: rem(70 0 15);
    h3 {
      text-align: center;
      max-width: rem(800);
      margin: 0 auto;
      @media (max-width: 600px) {
        max-width: none;
        text-align: left;
      }
    }
  }
  &_seo {
    h2 {
      max-width: rem(932);
      margin: 0 auto rem(40);
    }
    &_alt {
      h3 {
        text-align: center;
        margin-bottom: 0;
        @media (max-width: 700px) {
          margin-bottom: rem(20, 14);
        }
      }
      h2 {
        margin: 0 0 rem(49);
        max-width: none;
        @media (max-width: 700px) {
          margin-bottom: rem(20, 14);
          br {
            display: none;
          }
        }
      }
      h4 {
        margin-bottom: rem(46);
        @media (max-width: 700px) {
          margin-bottom: rem(20, 14);
        }
      }
      p {
        margin-bottom: rem(20);
        @media (max-width: 700px) {
          margin-bottom: rem(20, 14);
        }
      }
      .descr-section__content {
        margin-right: rem(60);
        @media (max-width: 700px) {
          margin-right: 0;
        }
      }
    }
  }
  .btn {
    padding: {
      left: rem(29);
      right: rem(29);
    }
  }
  &_seo-services {
    padding-bottom: rem(87);
    h2 {
      margin-bottom: rem(47);
      @media (max-width: 600px) {
        margin-bottom: rem(20, 14);
      }
    }
    @media (max-width: 600px) {
      padding-bottom: rem(53, 14);
    }
  }
  @media (max-width: 600px) {
    padding-top: rem(47, 14);
    h2 {
      margin-bottom: rem(20, 14);
    }
  }
}

.descr-section__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
  &_reverse {
    flex-direction: row-reverse;
    @media (max-width: 700px) {
      flex-direction: column-reverse;
      .descr-section__img {
        min-width: 50%;
        &_max-width-50 {
          max-width: 50%;
          margin-top: 0;
        }
      }
    }
    @media (max-width: 540px) {
      .descr-section__img {
        min-width: 100%;
        &_max-width-50 {
          max-width: 100%;
        }
      }
    }
  }
  &_align-center {
    align-items: center;
  }
  &_space-between {
    justify-content: space-between;
  }
  &_alt {
    margin: 0 rem(-15);
  }
}

.descr-section__img {
  min-width: 42.9%;
  margin-top: rem(15);
  &_small {
    min-width: 40%;
    margin-top: rem(-30);
  }
  &_margin-top-0 {
    margin-top: 0;
  }
  &_alt-width {
    min-width: 40%;
  }
  @media (max-width: 920px) {
    min-width: 36%;
  }
  @media (max-width: 700px) {
    min-width: 100%;
    margin-top: rem(30, 14);
  }
  &_alt {
    margin-top: 0;
    min-width: 45.2%;
    @media (max-width: 700px) {
      min-width: 100%;
    }
  }
}

.descr-section__content {
  margin-right: rem(90);
  h2 {
    text-align: left;
  }
  h3 {
    margin-bottom: rem(40);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  @media (max-width: 1180px) {
    margin-right: 1.5rem;
  }
  @media (max-width: 700px) {
    margin-right: 0;
  }
  &_flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: {
      right: rem(80);
      top: rem(40);
    }
    @media (max-width: 600px) {
      margin: {
        right: 0;
        top: rem(20, 14);
      }
      flex-direction: column;
    }
  }
  &_margin-top {
    margin-top: rem(50);
    @media (max-width: 700px) {
      margin-top: 0;
    }
  }
  &_reverse {
    margin: {
      right: 0;
      left: rem(50);
    }
    @media (max-width: 700px) {
      margin: {
        left: 0;
        top: rem(27, 14);
      }
    }
  }
}

.descr-section__list {
  max-width: 50%;
  h4 {
    color: $marker-color;
    margin-bottom: rem(18);
  }
  @media (max-width: 600px) {
    max-width: 100%;
    &_width-mobile-100 {
      width: 100%;
    }
    h4 {
      margin-bottom: rem(10, 14);
    }
    &:first-child {
      margin-bottom: rem(30, 14);
    }
  }
}

.descr-section__flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.descr-section__col {
  &:first-child {
    margin-right: rem(87);
    max-width: 22%;
  }
  &:nth-child(2) {
    margin-right: rem(87);
  }
  &:last-child {
    max-width: 30%;
  }
  @media (max-width: 650px) {
    &:nth-child(n) {
      max-width: none;
      margin-right: 0;
    }
    &:not(:last-child) {
      margin-bottom: rem(26, 14);
    }
  }
}
