.descr-section {
  padding: rem(77 0 0);
  &_padding-bottom {
    padding-bottom: rem(60);
  }
  &_padding-bottom-60 {
    padding-bottom: rem(60);
  }
  &_border {
    .container {
      border-bottom: 1px solid #c4c4c4;
    }
    .descr-section__container {
      padding-bottom: rem(135);
      @media (max-width: 700px) {
        padding-bottom: rem(40, 14);
      }
    }
  }
  &_gray-bg {
    background: $section-bg;
  }
  &_blue-bg {
    background: $second-blue;
    color: #fff;
  }
  h2 {
    margin-bottom: rem(28);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  h3 {
    margin-bottom: rem(34);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  p {
    margin-bottom: rem(32);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  &_paid-media {
    padding: rem(70 0 15);
    h3 {
      text-align: center;
      max-width: rem(800);
      margin: 0 auto;
      @media (max-width: 600px) {
        max-width: none;
        text-align: left;
      }
    }
  }
  .btn {
    padding: {
      left: rem(29);
      right: rem(29);
    }
  }
  @media (max-width: 600px) {
    padding-top: rem(47, 14);
  }
}

.descr-section__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}

.descr-section__img {
  min-width: 42.9%;
  margin-top: rem(15);
  @media (max-width: 920px) {
    min-width: 36%;
  }
  @media (max-width: 700px) {
    margin-top: rem(30, 14);
  }
  &_alt {
    margin-top: 0;
    min-width: 45.2%;
  }
  &_small {
    min-width: 40%;
    margin-top: rem(-30);
  }
}

.descr-section__content {
  margin-right: rem(90);
  h2 {
    text-align: left;
  }
  h3 {
    margin-bottom: rem(40);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  @media (max-width: 1180px) {
    margin-right: 1.5rem;
  }
  @media (max-width: 700px) {
    margin-right: 0;
  }
  &_flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: {
      right: rem(80);
      top: rem(40);
    }
    @media (max-width: 600px) {
      margin: {
        right: 0;
        top: rem(20, 14);
      }
      flex-direction: column;
    }
  }
  &_margin-top {
    margin-top: rem(50);
    @media (max-width: 700px) {
      margin-top: 0;
    }
  }
}

.descr-section__list {
  max-width: 50%;
  h4 {
    color: $marker-color;
    margin-bottom: rem(18);
  }
  @media (max-width: 600px) {
    max-width: 100%;
    h4 {
      margin-bottom: rem(10, 14);
    }
    &:first-child {
      margin-bottom: rem(30, 14);
    }
  }
}
