.descr-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    font-size: rem(18);
    margin-bottom: rem(38);
  }
  // &:nth-child(odd) {
  //   .descr-block__content {
  //     margin-bottom: rem(60);
  //   }
  // }
  &:nth-child(even) {
    flex-direction: row-reverse;
    margin-top: rem(-80);
    .descr-block__content {
      margin-top: rem(120);
    }
  }
}

.descr-block__img {
  min-width: 35.8%;
  &_width-467 {
    min-width: 41%;
  }
  &_width-443 {
    min-width: 38.9%;
  }
  &_width-365 {
    min-width: 32%;
  }
}

.descr-block__content {
  max-width: 48.685%;
}
