.descr-item {
  padding: 0 rem(15);
  margin-bottom: rem(24);
  width: rem(186);
  &_width-33 {
    width: 33%;
  }
  @media (max-width: 600px) {
    width: 50%;
    margin-bottom: rem(30, 14);
    &_width-33 {
      width: 100%;
    }
  }
}

.descr-item__content {
  padding: rem(26 5 21);
  height: 100%;
  &_bordered {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }
  &_padding-0 {
    padding: 0;
  }
  @media (max-width: 600px) {
    border: none;
    padding: 0;
  }
}

.descr-item__icon {
  width: rem(104);
  height: rem(95);
  margin: 0 auto rem(13);
  &_margin-bottom-28 {
    margin-bottom: rem(28);
  }
}

.descr-item__text {
  text-align: center;
  font-size: rem(16);
  margin-bottom: 0;
  @media (max-width: 600px) {
    font-size: rem(16, 14);
  }
  &_font-size-18 {
    font-size: rem(18);
    @media (max-width: 600px) {
      font-size: rem(16, 14);
    }
  }
}
