.descr {
  background-color: $second-blue;
  padding: rem(62 0 65);
  color: #fff;
  h2 {
    margin-bottom: rem(31);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  h3 {
    max-width: rem(650);
    margin: 0 auto rem(39);
    line-height: 1.36;
    text-align: center;
    @media (max-width: 600px) {
      max-width: 18.6rem;
      margin: 0 0 rem(24, 14);
      text-align: left;
      line-height: 1.44;
    }
  }
  p {
    margin-bottom: rem(18);
    @media (max-width: 600px) {
      margin-bottom: rem(40, 14);
    }
  }
  @media (max-width: 600px) {
    padding: rem(42 0 48, 14);
  }
}

.descr__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.descr__img {
  min-width: 44.8%;
  margin-right: rem(77);
  @media (max-width: 600px) {
    min-width: 100%;
    margin-right: 0;
  }
}

.descr__list {
  margin-top: rem(40);
  flex-basis: 100%;
}
