$features-border-color: #fbe608;

.features-list {
  padding-top: rem(35);
  border-top: rem(6) solid $features-border-color;
  font-size: rem(16);
  @media (max-width: 375px) {
    padding: {
      right: rem(30, 14);
      top: rem(25, 14);
    }
  }
}

.features-list__item {
  padding-left: rem(38);
  position: relative;
  line-height: 1.5;
  &:not(:last-child) {
    margin-bottom: rem(12);
    @media (max-width: 600px) {
      margin-bottom: rem(15, 14);
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: rem(-4);
    width: rem(27);
    height: rem(27);
    background: url('../images/list-okay.png') center center no-repeat;
    background-size: cover;
    @media (max-width: 600px) {
      width: rem(27, 14);
      height: rem(27, 14);
    }
  }
  @media (max-width: 600px) {
    padding-left: rem(43, 14);
  }
}
