.footer {
  h4 {
    font: {
      size: rem(16);
      weight: normal;
    }
    margin-bottom: rem(20);
    color: #000;
  }
  .btn {
    padding: {
      top: rem(12);
      bottom: rem(11);
    }
    font-size: rem(14);
    margin-bottom: rem(18);
  }
}

.footer__col {
  &:first-child {
    width: 23.5%;
  }
  &:nth-child(2),
  &:nth-last-child(2) {
    width: 25%;
  }
}

.footer__copyrights {
  background: $second-blue;
  padding: rem(16 0);
  text-align: center;
  font-size: rem(14);
  color: #fff;
}

.footer__main {
  padding: rem(70 0 104);
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__logo {
  width: rem(167);
  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
  }
}

.footer__link {
  display: block;
  color: #000;
  font-size: rem(14);
  &:not(:last-child) {
    margin-bottom: rem(12);
  }
  &:hover {
    color: $ui-second-color;
  }
}

.footer__contact {
  margin-bottom: rem(18);
  white-space: nowrap;
  font-size: rem(14);
  &_tel {
    a {
      color: #000;
    }
    svg {
      path {
        fill: $ui-second-color;
      }
    }
  }
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social-link {
  display: block;
  width: rem(27);
  height: rem(27);
  &:not(:last-child) {
    margin-right: rem(11);
  }
}
