.footer {
  h4 {
    font: {
      size: rem(16);
      weight: normal;
    }
    margin-bottom: rem(26);
    color: #000;
  }
  .btn {
    margin-bottom: rem(24);
  }
}

.footer__copyrights {
  background: $second-blue;
  padding: rem(16 0);
  text-align: center;
  font-size: rem(14);
  color: #fff;
}

.footer__main {
  padding: rem(70 0 104);
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__logo {
  width: rem(167);
  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
  }
}

.footer__link {
  display: block;
  color: #000;
  font-size: rem(14);
  &:not(:last-child) {
    margin-bottom: rem(12);
  }
  &:hover {
    color: $ui-second-color;
  }
}

.footer__contact {
  margin-bottom: rem(20);
  white-space: nowrap;
  &_tel {
    a {
      color: #000;
    }
    svg {
      path {
        fill: $ui-second-color;
      }
    }
  }
}
