.form__input {
  display: block;
  width: 100%;
  height: rem(61);
  border-radius: $global-radius;
  border: 1px solid $input-border-color;
  background: $input-bg;
  box-shadow: none;
  padding: rem(10 15 10);
  color: #000;
  line-height: 1.75;
  font: {
    family: $main-font;
    weight: normal;
  }
  @media (max-width: 600px) {
    height: rem(41, 14);
    padding: rem(15, 14);
  }
}

.form__item {
  margin-bottom: rem(18);
  @media (max-width: 600px) {
    margin-bottom: rem(18, 14);
  }
}

.form__label {
  display: block;
  margin-bottom: 0;
  color: #000;
  @media (max-width: 600px) {
    color: rgba(0, 0, 0, 0.6);
  }
}
