input, textarea {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 1px solid $input-border-color;
  background: $input-bg;
  box-shadow: none;
  padding: rem(6 15);
  color: #000;
  line-height: 1.75;
  -webkit-appearance: none;
  font: {
    family: $main-font;
    weight: normal;
    size: rem(16);
  }
  @include input-placeholder {
    color: #000;
    line-height: 1.75;
    opacity: 0.6;
    transition: opacity 250ms;
    font: {
      family: $main-font;
      weight: normal;
      size: rem(16);
    }
  }
  &:focus {
    @include input-placeholder {
      opacity: 0;
    }
  }
}

.form__input {
  padding: rem(16 15 15 11);
  text-indent: 4px;
  height: rem(48);
  @media (max-width: 600px) {
    // height: rem(41, 14);
    padding: rem(8 11 7, 14);
  }
}

.form__textarea {
  resize: none;
  min-height: rem(164);
  max-height: rem(164);
}

.form__item {
  margin-bottom: rem(18);
  @media (max-width: 600px) {
    margin-bottom: rem(20, 14);
  }
}

.form__label {
  display: block;
  margin-bottom: 0;
  color: #000;
  @media (max-width: 600px) {
    color: rgba(0, 0, 0, 0.6);
  }
}

.form {
  @media (max-width: 600px) {
    font-size: rem(16, 14);
  }
}
