.growth {
  padding: rem(68 0 78);
  h2 {
    margin-bottom: rem(28);
  }
  h3 {
    margin-bottom: rem(70);
    text-align: center;
  }
  .btn {
    margin: 0 auto;
  }
}

.growth__container {
  margin-bottom: rem(33);
}
