// .intro {
//   padding: rem(25 0 0, 14);
//
//   a {
//     @extend %second-link;
//   }
// }
//
// .intro__image {
//   position: relative;
//   //left: rem(-46);
// }
//
// .intro__image--second {
//   width: rem(140, 14);
//   height: auto;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   z-index: 1;
// }

.intro {
  h1 {
    margin-bottom: rem(33);
    letter-spacing: 0.6px;
  }
  h3 {
    margin-bottom: rem(18);
    line-height: 1.36;
  }
  p {
    margin-bottom: rem(36);
  }
  a {
    color: $ui-color;
  }
}

.intro__image--second {
  width: rem(354);
  height: auto;
  position: absolute;
  right: rem(-68);
  bottom: 0;
  z-index: 1;
  & ~ img {
    position: relative;
    right: rem(120);
    top: rem(20);
    width: rem(481);
  }
}

.intro {
  padding: rem(70 0 0);
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.intro__image {
  position: relative;
  min-width: 40%;
  padding-bottom: rem(62);
}

.intro__text {
  max-width: 44.3%;
  padding-bottom: rem(62);
}

.intro__author {
  position: absolute;
  z-index: 2;
  right: rem(-9);
  bottom: rem(38);
  width: rem(120);
  height: rem(120);
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: rem(14);
  color: #fff;
  border-radius: 50%;
}

.intro__name {
  font-weight: 500;
}
