.intro {
  h1 {
    margin-bottom: rem(33);
    letter-spacing: 0.6px;
    @media (max-width: 600px) {
      margin-bottom: rem(15, 14);
    }
  }
  h3 {
    margin-bottom: rem(18);
    line-height: 1.36;
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
      line-height: 1.44;
    }
  }
  p {
    margin-bottom: rem(36);
    @media (max-width: 600px) {
      margin-bottom: rem(20, 14);
    }
  }
  a {
    color: $ui-color;
  }
  padding: rem(70 0 0);
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  @media (max-width: 600px) {
    padding: rem(30 0 0, 14);
  }
}

.intro__image--second {
  width: rem(354);
  height: auto;
  position: absolute;
  right: rem(-68);
  bottom: 0;
  z-index: 1;
  & ~ img {
    position: relative;
    right: rem(120);
    top: rem(20);
    width: rem(481);
    @media (max-width: 1080px) {
      width: rem(400);
    }
    @media (max-width: 900px) {
      right: rem(50);
      width: rem(350);
    }
    @media (max-width: 600px) {
      left: rem(80);
    }
    @media (max-width: 540px) {
      left: 0;
      width: rem(300, 14);
    }
    @media (max-width: 375px) {
      left: rem(-50);
      width: rem(250, 15);
    }
  }
  @media (max-width: 1300px) {
    right: rem(-30);
  }
  @media (max-width: 1080px) {
    right: 0;
    width: rem(300);
  }
  @media (max-width: 900px) {
    width: rem(250);
  }
  @media (max-width: 600px) {
    bottom: 0;
    right: rem(100);
    width: rem(180, 14);
  }
  @media (max-width: 475px) {
    right: rem(-15, 14);
    width: rem(139, 14);
    height: rem(271, 14);
    object-fit: cover;
  }
}

.intro__image {
  position: relative;
  min-width: 40%;
  padding-bottom: rem(62);
}

.intro__text {
  max-width: 44.3%;
  padding-bottom: rem(62);
  @media (max-width: 750px) {
    max-width: 50%;
  }
  @media (max-width: 600px) {
    padding-bottom: 0;
    max-width: none;
    margin-bottom: 2.125rem;
  }
}

.intro__author {
  position: absolute;
  z-index: 2;
  right: rem(-9);
  bottom: rem(38);
  width: rem(120);
  height: rem(120);
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: rem(14);
  color: #fff;
  border-radius: 50%;
  @media (max-width: 1080px) {
    right: 0;
  }
  @media (max-width: 600px) {
    width: rem(90, 14);
    height: rem(90, 14);
    font-size: rem(10, 14);
    right: 3.5rem;
    bottom: rem(10);
  }
  @media (max-width: 475px) {
    right: rem(50);

  }
}

.intro__name {
  font-weight: 500;
}
