.link-btn {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: $global-radius;
  color: #000;
  display: flex;
  align-items: center;
  text-align: center;
  padding: rem(15 15);
  min-width: rem(450);
  &:hover {
    border-color: darken($border-color, 10%);
  }
  @media (max-width: 600px) {
    // flex-direction: column;
    min-width: 0;
    width: 100%;
    font-size: rem(16, 14);
  }
}

.link-btn__title {
  display: block;
  width: 100%;
  @media (max-width: 600px) {

  }
}

.link-btn__link {
  color: $ui-second-color;
  padding: rem(0 15 0 10);
  height: 100%;
  position: relative;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  &:after {
    content: "";
    position: absolute;
    right: rem(0);
    top: 50%;
    transform: translateY(-50%);
    width: rem(10);
    height: rem(10);
    background: url("../images/slider-arrow.svg") no-repeat center center;
    // background-size: 40%;
  }
  @media (max-width: 600px) {
    // width: 100%;
    // padding: rem(18 50 18 15);
    // &:after {
    //   right: rem(15);
    // }
  }
}

.link-btn-container {
  display: flex;
  justify-content: center;
  margin-top: rem(40);
  &_margin-bottom {
    margin: {
      top: 0;
      bottom: rem(40);
    }
  }
  @media (max-width: 600px) {
    margin: rem(40) rem(20) 0;
  }
}
