.link-btn {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: $global-radius;
  color: 000;
  display: flex;
  align-items: center;
  // min-width: rem(500);
  text-align: center;
  &:hover {
    border-color: darken($border-color, 10%);
  }
  @media (max-width: 600px) {
    flex-direction: column;
    min-width: 0;
    width: 100%;
    font-size: rem(16, 14);
  }
}

.link-btn__title {
  display: block;
  padding: rem(22 35 22 40);
  border: {
    top-left-radius: $global-radius;
    bottom-left-radius: $global-radius;
    right: 1px solid #d0d0d0;
  }
  @media (max-width: 600px) {
    width: 100%;
    border: {
      right: 0;
      bottom: 1px solid #d0d0d0;
    }
    padding: {
      left: rem(20);
      right: rem(20);
    }
  }
}

.link-btn__link {
  color: $ui-second-color;
  padding: rem(18 70 18 34);
  height: 100%;
  position: relative;
  font-weight: 400;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    position: absolute;
    right: rem(35);
    top: 50%;
    transform: translateY(-50%);
    width: rem(24);
    height: rem(24);
    background: url("../images/right-arrow.svg") no-repeat center center;
    // background-size: 40%;
  }
  @media (max-width: 600px) {
    width: 100%;
    // padding: rem(18 50 18 15);
    &:after {
      right: rem(15);
    }
  }
}

.link-btn-container {
  display: flex;
  justify-content: center;
  margin-top: rem(40);
  &_margin-bottom {
    margin: {
      top: 0;
      bottom: rem(40);
    }
  }
  @media (max-width: 600px) {
    margin: rem(40) rem(20) 0;
  }
}
