.navigation {
  width: 100%;
  z-index: 10;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.navigation__list {
  display: block;
  padding: 0;
  margin: 0;
}

.navigation__item {
  display: block;
}

.navigation__link {
  display: block;
  cursor: pointer;
  transition: color 200ms ease, background-color 200ms ease;
}

.navigation__submenu {
  padding: rem(0 0 0 $container-padding * 2);
  a {
    &:not([download]) {
      display: block;
      color: #fff;
      position: relative;
      padding-left: rem(20);

      &:before {
        display: block;
        border: rem(6) solid transparent;
        border-left-color: #fff;
        border-right: none;
        position: absolute;
        left: 0;
        top: rem(5);
        content: "";
      }

      &.active {
        color: $marker-color;
        &:before {
          border-left-color: currentColor;
        }
      }
    }
  }
}

.navigation__submenu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  li {
    display: block;
    padding-bottom: rem(20);
    &:last-child {
      padding-bottom: rem(25);
    }
    &:first-child {
      order: 1;
    }
    &:nth-child(2) {
      order: 5;
    }
    &:nth-child(3) {
      order: 2;
    }
    &:nth-child(4) {
      order: 6;
    }
    &:nth-child(5) {
      order: 3;
    }
    &:nth-child(6) {
      order: 7;
    }
    &:nth-child(7) {
      order: 4;
    }
    &:nth-child(8) {
      order: 8;
    }
  }
}

.navigation__submenu-image {
  display: none;
  img {
    display: block;
    max-width: 100%;
  }
  button {
    display: block;
    width: rem(262);
    height: rem(151);
  }
  &_mobile {
    display: block;
    max-width: 50%;
    margin: 0 auto rem(20);
    button {
      width: 100%;
      height: auto;
    }
    @media (max-width: 475px) {
      max-width: calc(100% - 28px);
    }
  }
}

@media (max-width: $bp-desktop - 1) {
  .navigation {
    background: $ui-second-color;
    font-size: rem(16);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    transition: $transition;
    will-change: opacity, visibility;
  }

  .navigation__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(#fff, 0.2);

    &:first-child {
      border: none;
    }
  }

  .navigation__link {
    padding: rem(17 $container-padding);
    background: transparent;
    color: #fff;
    font-size: rem(18);
    font-weight: 500;
    &:hover {
      background: $ui-second-color-hover;
    }
  }
}
@media (min-width: $bp-desktop) {
  .navigation {
    display: block;
    font-size: rem(18, $desktop-font-size);
    width: auto;
    margin: 0 rem(15, $desktop-font-size) 0 auto;
    position: relative;

    &:after {
      display: block;
      width: 1px;
      height: rem(32, $desktop-font-size);
      background: rgba(#000, 0.5);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
    }
  }

  .navigation__list {
    display: flex;
  }
  .navigation__item {
    a {
      border-bottom: 3px solid transparent;
    }
    &.active {
      a {
        border-bottom-color: $ui-second-color;
      }
    }
    &:hover {
      .navigation__link {
        background: $ui-second-color;
        color: #fff;

        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      .navigation__submenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .navigation__link {
    display: block;
    padding: rem(19 15, $desktop-font-size);
    color: $font-color;
    &_big-padding {
      padding: {
        left: rem(22);
        right: rem(22);
      }
    }
  }

  .navigation__submenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: rem(900);
    font-size: rem(16, $desktop-font-size);
    background: $ui-second-color;
    // opacity: 1;
    // visibility: visible;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    transition: $transition;
    will-change: opacity, visibility;

    &:before,
    &:after {
      display: block;
      width: 300%;
      height: 100%;
      background: $ui-second-color;
      position: absolute;
      top: 0;
      content: "";
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }

    a {
      display: inline-block;
    }
  }

  .navigation__link_with-submenu {
    position: relative;
    padding-right: rem(32, $desktop-font-size);

    &:before,
    &:after {
      display: block;
      width: rem(8, $desktop-font-size);
      height: 100%;
      position: absolute;
      top: 0;
      right: rem(14, $desktop-font-size);
      transition: $transition;
      content: "";
    }

    &:before {
      background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="306" height="306"%3E%3Cpath fill="%23010101" d="M270.3 58.65L153 175.95 35.7 58.65 0 94.35l153 153 153-153z"/%3E%3C/svg%3E%0A')
        50% 50% no-repeat;
      background-size: contain;
      opacity: 1;
    }

    &:after {
      background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="306" height="306"%3E%3Cpath fill="%23ffffff" d="M270.3 58.65L153 175.95 35.7 58.65 0 94.35l153 153 153-153z"/%3E%3C/svg%3E%0A')
        50% 50% no-repeat;
      background-size: contain;
      opacity: 0;
    }
  }

  .navigation__submenu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    max-width: rem(440);
    padding-top: rem(20, $desktop-font-size);

    li {
      min-width: 50%;
      max-width: 50%;
      padding-bottom: rem(20, $desktop-font-size);
      &:nth-child(n) {
        order: unset;
      }
    }
  }

  .navigation__submenu-image {
    display: block;
    width: rem(262);
    height: rem(151);
    &_mobile {
      display: none;
    }
  }
}
