.partners {
  background: $second-blue;
  padding: rem(65 0 104);
  color: #fff;
  h2 {
    max-width: rem(940);
    margin: 0 auto rem(42);
    @media (max-width: 600px) {
      max-width: none;
      margin-bottom: rem(26, 14);
      padding: 0 rem(20);
    }
  }
  @media (max-width: 600px) {
    padding: rem(44 0 48, 14);
    .container {
      padding: 0;
    }
  }
}

.partners__container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: rem(0 -15 -24);
  @media (max-width: 600px) {
    justify-content: flex-start;
  }
}
