.profits {
  padding: rem(66 0 65);
  h2 {
    margin-bottom: rem(30);
    @media (max-width: 540px) {
      margin-bottom: rem(18, 14);
    }
  }
  h3 {
    margin: 0 auto rem(36);
    text-align: center;
    max-width: rem(760);
    @media (max-width: 600px) {
      max-width: none;
      text-align: left;
      margin-bottom: rem(20, 14);
    }
  }
  p {
    margin-bottom: rem(50);
    @media (max-width: 600px) {
      margin-bottom: rem(30, 14);
    }
  }
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 15%;
    z-index: 3;
    right: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @media (max-width: 540px) {
      display: none;
    }
  }

  .container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      right: 100%;
      z-index: 2;
      width: 200%;
      background: #fff;
    }
  }

  @media (max-width: 600px) {
    padding: rem(44 0, 14);
  }
}
