.profits {
  padding: rem(71 0 55);
  h2 {
    margin-bottom: rem(41);
  }
  h3 {
    margin: 0 auto rem(44);
    text-align: center;
    max-width: rem(756);
  }
  p {
    margin-bottom: rem(56);
  }
}
