.quote {
  background: $section-bg;
  p {
    font-size: rem(22);
    line-height: 1.36;
    max-width: rem(576);
    margin-bottom: 0;
  }
  .container {
    position: relative;
  }
}

.quote__text,
.quote__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.quote__text {
  padding: rem(83 0 80);
}

.quote__img {
  margin-right: rem(43);
  width: rem(55);
}

.quote__book-img {
  position: absolute;
  bottom: 0;
  right: rem(-110);
  min-width: rem(700);
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
