.quote {
  background: $section-bg;
  p {
    font-size: rem(22);
    line-height: 1.36;
    max-width: rem(576);
    margin-bottom: 0;
    @media (max-width: 600px) {
      font-size: rem(18, 14);
    }
  }
  .container {
    position: relative;
  }
}

.quote__text,
.quote__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.quote__container {
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
  }
}

.quote__text {
  padding: rem(83 0 80);
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    padding: rem(47 0 15, 14);
    text-align: center;
  }
}

.quote__img {
  margin-right: rem(43);
  width: rem(55);
  @media (max-width: 600px) {
    width: rem(26, 13);
    margin: {
      right: 0;
      bottom: rem(10, 14);
    }
  }
}

.quote__book-img {
  position: absolute;
  bottom: 0;
  right: rem(-110);
  min-width: rem(700);
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1000px) {
    min-width: rem(400);
    right: rem(-180, 14);
  }
  @media (max-width: 900px) {
    height: 90%;
    img {
      object-fit: contain;
    }
  }
  @media (max-width: 800px) {
    right: rem(-200, 12);
  }
  @media (max-width: 750px) {
    position: static;
  }
  @media (max-width: 600px) {
    height: rem(169, 14);
    img {
      object-fit: cover;
    }
  }
}
