.search__input {
  background: $section-bg;
  font-size: rem(14);
  line-height: 1;
  padding: {
    top: rem(10);
    left: rem(36);
    bottom: rem(5);
  }
  @include input-placeholder {
    font-size: rem(14);
  }
}

.search__icon {
  width: rem(13);
  height: rem(13);
  position: absolute;
  top: 50%;
  left: rem(17);
  transform: translateY(-50%);
  background: url("../images/blog/search.svg") no-repeat center center;
}
