.select2-container {
  .select2-selection--single {
    height: rem(48);
    padding: rem(16 15 15);
    border-radius: 0;
    border: 1px solid $input-border-color;
    background: $input-bg;
    .select2-selection__arrow {
      top: 50%;
      transform: translateY(-50%);
      right: rem(25);
      b {
        border: none;
        background: url('../images/down-arrow.svg') no-repeat center center;
        background-size: cover;
        width: rem(11);
        height: rem(7);
      }
    }
    @media (max-width: 600px) {
      height: rem(41, 14);
      padding: rem(15, 14);
    }
  }
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__rendered {
      font-size: rem(16);
      color: #000;
      line-height: 1;
      width: 100%;
      padding: {
        right: rem(40);
        left: 0;
      }
      @media (max-width: 600px) {
        font-size: rem(14, 14);
      }
    }
  }
  &.select2-container--open
  .select2-selection--single
  .select2-selection__arrow b {
    border: none;
    transform: scale(-1);
  }
}
