.statistics {
  color: #fff;
  background: $ui-color;
  padding: rem(58 0 42);
  h2 {
    margin-bottom: rem(42);
  }
}

.statistics__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.statistics__item {
  max-width: rem(208);
  &_small {
    max-width: rem(140);
  }
  &:first-child {
    margin-right: rem(130);
  }
  &:nth-child(2) {
    margin-right: rem(115);
  }
  &:nth-last-child(2) {
    margin-right: rem(88);
  }
}

.statistics__number {
  text-transform: uppercase;
  font: {
    size: rem(46);
    weight: 300;
  }
  line-height: 0.74;
  margin-bottom: rem(20);
  position: relative;
  padding-left: rem(33);
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: rem(5);
    width: rem(26);
    height: rem(26);
    background: url("../images/yellow-arrow.svg") no-repeat center center;
    background-size: cover;
  }
}
