.statistics {
  color: #fff;
  background: $ui-color;
  padding: rem(58 0);
  h2 {
    margin-bottom: rem(42);
    @media (max-width: 600px) {
      margin-bottom: rem(35, 14);
    }
  }
  &_blue-bg {
    background: $second-blue;
  }
  p {
    margin-bottom: 0;
    text-align: center;
    @media (max-width: 600px) {
      text-align: left;
    }
  }
  &_sales {
    padding: rem(50 0 45);
  }
}

.statistics__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: 800px) {
    justify-content: space-between;
  }
  @media (max-width: 600px) {
    flex-wrap: wrap;
    margin-bottom: rem(-40, 14);
    margin: 0 rem(-20) rem(-40, 14);
    padding: rem(0 0 0 14, 14);
  }
  &_alt {
    @media (max-width: 600px) {
      padding: 0 0 rem(42, 14) 0;
    }
  }
  &_center {
    justify-content: center;
  }
}

.statistics__item {
  max-width: rem(208);
  &_small {
    max-width: rem(140);
    @media (max-width: 600px) {
      width: 50%;
      max-width: none;
    }
  }
  &:first-child {
    margin-right: rem(130);
  }
  &:nth-child(2) {
    margin-right: rem(115);
  }
  &:nth-last-child(2) {
    margin-right: rem(88);
  }
  @media (max-width: 800px) {
    &:first-child,
    &:nth-child(2),
    &:nth-last-child(2) {
      margin-right: 0;
    }
  }
  @media (max-width: 600px) {
    width: 50%;
    max-width: none;
    margin-bottom: rem(24, 14);
    padding: 0 rem(20);
    br {
      display: none;
    }
  }
  &_bordered-right {
    @media (max-width: 600px) {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  &_bordered-bottom {
    @media (max-width: 600px) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  &_alt {
    @media (max-width: 600px) {
      margin: 0;
      padding: {
        top: rem(20, 14);
        bottom: rem(20, 14);
      }
    }
  }
  &_width {
    max-width: rem(262);
    &:first-child {
      margin-right: 0;
    }
    &:nth-child(2) {
      margin: 0 rem(80);
      @media (max-width: 600px) {
        margin: 0;
      }
    }
    &:not(:last-child) {
      
    }
  }
}

.statistics__number {
  text-transform: uppercase;
  font: {
    size: rem(46);
    weight: 300;
  }
  line-height: 0.74;
  margin-bottom: rem(15);
  position: relative;
  padding-left: rem(33);
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: rem(5);
    width: rem(26);
    height: rem(26);
    background: url("../images/yellow-arrow.svg") no-repeat center center;
    background-size: cover;
    @media (max-width: 600px) {
      width: rem(14, 14);
      height: rem(15, 14);
    }
  }
  @media (max-width: 600px) {
    font-size: rem(30, 14);
    padding-left: rem(20, 14);
    margin-bottom: rem(12, 14);
  }
  &_alt {
    font-size: rem(60);
    color: $marker-color;
    padding-left: 0;
    text-align: center;
    &:after {
      display: none;
    }
  }
}
