.steps {
  background: $section-bg;
  padding: rem(69 0 70);
  h2 {
    margin-bottom: rem(30);
    @media (max-width: 600px) {
      margin-bottom: rem(18, 14);
    }
  }
  h3 {
    max-width: rem(765);
    text-align: center;
    margin: 0 auto rem(38);
    @media (max-width: 540px) {
      max-width: none;
      text-align: left;
    }
  }
  .btn {
    margin: 0 auto;
    @media (max-width: 540px) {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    padding: rem(45 0, 14);
  }
}

.steps__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: {
    bottom: rem(-78);
  }
  @media (max-width: 1200px) {
    margin-bottom: 0;
  }
  @media (max-width: 650px) {
    flex-direction: column-reverse;
  }
}

.steps__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: rem(-50);
  @media (max-width: 540px) {
    margin-right: 0;
  }
}

.steps__img {
  min-width: 38.9%;
  @media (max-width: 650px) {
    margin: 0 auto rem(60);
    min-width: 80%;
  }
  @media (max-width: 540px) {
    min-width: 0;
    width: rem(286, 14);
  }
}
