.step {
  h4 {
    margin-bottom: rem(15);
    font-size: rem(18);
    @media (max-width: 600px) {
      font-size: rem(16, 14);
      margin-bottom: rem(5, 14);
    }
  }
  position: relative;
  padding-left: rem(67);
  margin: {
    bottom: rem(30);
    right: rem(55);
  }
  max-width: 40.9%;
  @media (max-width: 710px) {
    margin-right: rem(40);
  }
  @media (max-width: 540px) {
    max-width: none;
    margin: {
      bottom: rem(10, 14);
      right: 0;
    }
    &:last-child {
      margin-bottom: rem(30, 14);
    }
  }
  &_work-steps {
    z-index: 2;
    padding-left: 0;
    margin-bottom: 0;
    h4 {
      margin-bottom: rem(9);
    }
    p {
      margin-bottom: rem(12);
    }
    @media (max-width: 600px) {
      margin-right: 0;
      &:not(:last-child) {
        margin-bottom: rem(24, 14);
      }
    }
  }
  &_margin-right-0 {
    margin-right: 0;
  }
}

.step__count {
  width: rem(40);
  height: rem(40);
  background: $ui-second-color;
  color: $marker-color;
  font: {
    size: rem(18);
    weight: 500;
  }
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  &_alt {
    position: static;
    color: #fff;
    margin-bottom: rem(25);
    width: rem(50);
    height: rem(50);
  }
  @media (max-width: 600px) {
    width: rem(40, 14);
    height: rem(40, 14);
  }
}

.step_with-process-line {
  &:after {
    content: "";
    position: absolute;
    top: rem(22);
    left: rem(22);
    height: 2px;
    background: $second-blue;
    z-index: -1;
  }
  &_big {
    min-width: rem(500);
    &:after {
      width: rem(451);
    }
    @media (max-width: 992px) {
      min-width: rem(400);
      &:after {
        width: rem(351);
      }
    }
    @media (max-width: 820px) {
      min-width: 32%;
      &:after {
        width: 100%;
        left: 0;
      }
    }
    @media (max-width: 600px) {
      min-width: 100%;
      width: 100%;
    }
  }
  &_small {
    min-width: rem(268);
    &:after {
      width: rem(237);
    }
    @media (max-width: 820px) {
      min-width: 32%;
    }
    @media (max-width: 600px) {
      min-width: 100%;
      width: 100%;
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
  &_mobile {
    @media (max-width: 600px) {
      width: 100%;
      max-width: none;
    }
    &:after {
      width: 100%;
      left: 0;
      @media (min-width: 601px) {
        display: none;
      }
    }
  }
}
