.subscribe {
  .btn {
    padding: {
      left: rem(42);
      right: rem(42);
    }
    @media (max-width: 540px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      padding: {
        top: rem(12, 14);
        bottom: rem(11, 14);
      }
    }
  }
}

.subscribe__group {
  &:first-child {
    margin-right: rem(23);
    min-width: rem(263);
    @media (max-width: 540px) {
      margin: {
        bottom: rem(15, 14);
        right: 0;
      }
    }
  }
  @media (max-width: 540px) {
    min-width: 100%;
    width: 100%;
  }
}

.subscribe__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 540px) {
    flex-wrap: wrap;
  }
}

.subscribe__text {
  margin-bottom: 3px;
}
