.subscribe {
  .btn {
    padding: {
      left: rem(42);
      right: rem(42);
    }
    @media (max-width: 540px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      padding: {
        top: rem(12, 14);
        bottom: rem(11, 14);
      }
    }
    &--big {
      @media (max-width: 600px) {
        padding: {
          top: rem(13, 14);
          bottom: rem(12, 14);
        }
      }
    }
  }
  &_internal {
    .btn {
      padding: {
        left: rem(55);
        right: rem(55);
      }
    }
  }
}

.subscribe__group {
  &_size {
    min-width: rem(263);
  }
  &_big {
    min-width: rem(351);
  }
  &_btn-width {
    min-width: rem(200);
  }
  &:first-child {
    margin-right: rem(23);
    @media (max-width: 540px) {
      margin: {
        bottom: rem(15, 14);
        right: 0;
      }
    }
  }
  @media (max-width: 540px) {
    min-width: 100%;
    width: 100%;
  }
}

.subscribe__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 540px) {
    flex-wrap: wrap;
  }
  &_column {
    max-width: rem(558);
    flex-direction: column;
    @media (max-width: 760px) {
      margin: 0 auto;
    }
    @media (max-width: 540px) {
      max-width: none;
    }
  }
}

.subscribe__text {
  margin-bottom: 3px;
  &_alt {
    color: $ui-color;
    font: {
      size: rem(18);
      weight: 500;
    }
    @media (max-width: 760px) {
      max-width: rem(558);
      margin: 0 auto 3px;
    }
    @media (max-width: 540px) {
      max-width: none;
      font-size: rem(14, 14);
    }
  }
}

.subscribe__label {
  border: 2px solid $border-color;
  border-radius: rem(7);
  padding: rem(17 16 16 40);
  // width: calc((100% - 40px) / 3);
  min-width: rem(178);
  &.active {
    border-color: $ui-color;
  }
  @media (max-width: 900px) {
    padding: {
      left: rem(33);
      right: rem(10);
    }
  }
  @media (max-width: 540px) {
    padding: rem(9 13 9 43, 14);
  }
}

.subscribe__controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: rem(14);
  width: 100%;
  @media (max-width: 540px) {
    flex-direction: column;
    margin-bottom: rem(30, 14);
  }
}
