.subscribe {
  .btn {
    padding: {
      left: rem(42);
      right: rem(42);
    }
  }
}

.subscribe__group {
  &:first-child {
    margin-right: rem(23);
    min-width: rem(263);
  }
}

.subscribe__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subscribe__text {
  margin-bottom: 3px;
}
