.text-section {
  padding: rem(72 0 73);
  h2 {
    max-width: rem(950);
    margin: 0 auto rem(35);
    letter-spacing: 0.2px;
    line-height: 1.22;
    @media (max-width: 600px) {
      line-height: 1.35;
      max-width: 92%;
      margin: 0 0 rem(20, 14);
    }
  }
  h3 {
    max-width: rem(937);
    margin: 0 auto;
    text-align: center;
  }
  p {
    margin-top: rem(44);
    @media (max-width: 600px) {
      margin-top: rem(20, 14);
    }
  }
  &_gray-bg {
    background: $section-bg;
  }
  &_blue-bg {
    background: $second-blue;
    color: #fff;
  }
  &_team {
    h3 {
      max-width: rem(726);
      margin: 0 auto rem(37);
      @media (max-width: 600px) {
        margin-bottom: rem(20, 14);
      }
    }
    p {
      max-width: rem(923);
      margin: 0 auto;
      text-align: center;
      @media (max-width: 600px) {
        max-width: none;
        text-align: left;
      }
    }
    h2 {
      @media (max-width: 600px) {
        max-width: 100%;
      }
    }
  }
  @media (max-width: 600px) {
    padding: rem(50 0 44, 14);
    h3 {
      @media (max-width: 600px) {
        max-width: none;
        text-align: left;
        font-size: rem(18, 14);
      }
    }
    br {
      display: none;
    }
  }
}

.text-section_p-center {
  @media (min-width: 601px) {
    p {
      text-align: center;
    }
  }
}

.text-section_creative {
  h2, h3 {
    max-width: none;
    text-align: left;
  }
  h2 {
    margin-bottom: rem(25);
    @media (max-width: 600px) {
      margin-bottom: rem(18, 14);
    }
  }
  p {
    margin: 0;
  }
}

.text-section__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  &_align-stretch {
    align-items: stretch;
  }
}

.text-section__col {
  &:first-child {
    width: 36.266%;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  &:last-child {
    width: 47.4%;
    @media (max-width: 600px) {
      width: 100%;
      margin-top: rem(20, 14);
    }
  }
}
