.work-steps {
  background: $section-bg;
  padding: rem(65 0 82);
  h2 {
    margin-bottom: rem(38);
    @media (max-width: 600px) {
      margin-bottom: rem(15, 14);
    }
  }
  .btn {
    padding: {
      left: rem(95);
      right: rem(95);
    }
  }
  h3 {
    margin-bottom: rem(20, 14);
    max-width: 95%;
    @media (min-width: 601px) {
      display: none;
    }
  }
  @media (max-width: 600px) {
    padding: rem(50 0 0, 14);
  }
}

.work-steps__list {
  list-style-type: disc;
  padding-left: rem(13);
  margin-bottom: rem(10);
  @media (max-width: 600px) {
    margin-bottom: rem(24, 14);
  }
}

.work-steps__list-item {
  &:not(:last-child) {
    margin-bottom: rem(10);
    @media (max-width: 600px) {
      margin-bottom: rem(5, 14);
    }
  }
}

.work-steps__container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &:after {
    content: "";
    position: absolute;
    top: rem(22);
    left: 0;
    height: 2px;
    width: 100%;
    background: $second-blue;
    opacity: 0.3;
    z-index: 1;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    &:after {
      display: none;
    }
  }
}
