<section class="growth growth_paid-media growth_sales growth_gray-bg">
  <div class="container">
    <h2>
      Constant attention. Marketing campaigns need it.<br />We provide it.
    </h2>
    <p>
      To achieve your growth initiatives, you can’t just jump in the car and
      hit cruise control. You need a driver. Someone with experience running
      global multi-million dollar integrated marketing programs for companies
      that sell subscription products and services. Ready to take a ride?
    </p>
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-310">
          <img src="images/reporting-and-analytics/RA1.svg" alt="Get real insights not mumbo jumbo">
        </div>
        <div class="descr-block__content">
          <h4>
            Get real insights not mumbo jumbo
          </h4>
          <p>
            Our marketing super-nerds interpret all the campaign data and
            provide valuable, actionable direction on what to do next.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/reporting-and-analytics/RA2.svg" alt="Make measurable progress every month with optimized campaigns — it’s not a shot in the dark. ">
        </div>
        <div class="descr-block__content">
          <h4>
            Make measurable progress every month with optimized campaigns
            — it’s not a shot in the dark.
          </h4>
          <p>
            We follow a strict optimization schedule that zeros in on what
            we can improve month after month.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-310">
          <img src="images/reporting-and-analytics/RA3.svg" alt="Focus on verified results">
        </div>
        <div class="descr-block__content">
          <h4>
            Focus on verified results — typical marketing reports are full of
            “vanity” metrics that look good, but don’t tell the whole story.
          </h4>
          <p>
            We’re NOT typical. We focus on meaningful metrics that tie
            directly back to your bottom line.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-390">
          <img src="images/reporting-and-analytics/RA4.svg" alt="See how every dollar is spent — unlike most agencies">
        </div>
        <div class="descr-block__content">
          <h4>
            See how every dollar is spent — unlike most agencies
          </h4>
          <p>
            We separate ad spending and management fees so you always know
            where your budget dollars are going.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
