<section class="descr-section descr-section_h2-big-margin descr-section_blue-bg">
  <div class="container">
    <h2>Our CMO has helped grow and position STARTUPS to:</h2>
    <div class="descr-section__container descr-section__container_alt descr-section__container_space-between">
      <div class="descr-item descr-item_width-33">
        <div class="descr-item__content descr-item__content_padding-0">
          <div class="descr-item__icon descr-item__icon_margin-bottom-28">
            <img src="images/meet-the-team/item1.svg" alt="IPO">
          </div>
          <p class="descr-item__text descr-item__text_font-size-18">
            Go IPO and then get acquired by the leading real estate and
            rental marketplace (Zillow).
          </p>
        </div>
      </div>
      <div class="descr-item descr-item_width-33">
        <div class="descr-item__content descr-item__content_padding-0">
          <div class="descr-item__icon descr-item__icon_margin-bottom-28">
            <img src="images/meet-the-team/item2.svg" alt="Be bought back-to-back">
          </div>
          <p class="descr-item__text descr-item__text_font-size-18">
            Be bought back-to-back by a global entity (ING DIRECT) and then by
            a monster Fortune 100 (CapitalOne).
          </p>
        </div>
      </div>
      <div class="descr-item descr-item_width-33">
        <div class="descr-item__content descr-item__content_padding-0">
          <div class="descr-item__icon descr-item__icon_margin-bottom-28">
            <img src="images/meet-the-team/item3.svg" alt="PipelineDeals">
          </div>
          <p class="descr-item__text descr-item__text_font-size-18">
            Thrive in a nearly 100% bootstrapped environment (PipelineDeals).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
