<section class="descr-section descr-section_padding-bottom descr-section_gray-bg">
  <div class="container">
    <div class="descr-section__container descr-section__container_align-center descr-section__container_reverse">
      <div class="descr-section__content descr-section__content_reverse">
        <h2>
          Meet Our CMO <span class="font-weight-500">Lyamen Savy</span>
        </h2>
        <p>
          Lyamen Savy is 1 part marketing guru, 1 part sales magician, and 1
          part walking database. As founder of Rent a CMO, Lyamen partners
          with CEOs, marketing executives, sales executives and entrepreneurs
          to dramatically increase sales of their B2B and B2C subscription-based
          products and services.
        </p>
      </div>
      <div class="descr-section__img descr-section__img_max-width-50">
        <img src="images/meet-the-team/lyamen-photo.png" alt="Lyamen Savy">
      </div>
    </div>
  </div>
</section>
