<section class="descr-section descr-section_padding-bottom descr-section_gray-bg">
  <div class="container">
    <div class="descr-section__container descr-section__container_align-center descr-section__container_reverse">
      <div class="descr-section__content descr-section__content_reverse">
        <h2>Meet Our CMO <span class="font-weight-500">Lyamen Savy</span></h2>
        <p>Lyamen Savy is 1 part marketing guru, 1 part sales magician, and 1 part walking database. She knows what it takes to create truly integrated marketing programs for the entire customer subscription lifecycle. And that’s because she’s learned in the trenches.</p>
        <p>On the client side, she’s spent $100+ million in advertising dollars, and put in 31,000 hours of testing for some of the world’s largest Fortune 100 companies and startups. Marketing is in her DNA.</p>
        <p>As founder of Rent a CMO, Lyamen partners with CEOs, marketing executives, sales executives and entrepreneurs to dramatically increase sales of their B2B and B2C subscription-based products and services.</p>
      </div>
      <div class="descr-section__img descr-section__img_max-width-50">
        <img src="images/meet-the-team/lyamen-photo.png" alt="Lyamen Savy">
      </div>
    </div>
  </div>
</section>
