<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">Meet the team</span>
    </div>
    <div class="intro__wrap intro__wrap_padding-top-0 intro__wrap_flex intro__wrap_flex_space-between">
      <div class="intro__text intro__text_max-width-50 intro__text_sales">
        <h1>
          We’re totally obsessed with growing our clients’ revenue (but it’s a healthy obsession)
        </h1>
        <p>
          You won’t find another agency on this planet that lives and breathes
          subscription marketing like we do. Only we have the secret sauce —
          tons of experience, absolute tirelessness, and just plain smarts — to
          take your marketing department or startup where you want to go FAST.
          It’s the only speed we know how to work.
        </p>
      </div>
      <div class="intro__image intro__image--team intro__image--common">
        <img src="images/meet-the-team/growing-clients-revenue.svg" alt="Growing clients revenue">
      </div>
    </div>
  </div>
</section>
