<section class="descr-section descr-section_with-slider descr-section_blue-bg">
  <div class="container">
    <h2>Now Meet The Best Team in the Biz</h2>
    <div class="team-slider">
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/haddad.png" alt="DJ Haddad">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">DJ Haddad</div>
          <div class="team-slider__profession-name">
            VP of Brand & Digital<br />Customer Experience
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/simon.png" alt="Simon Tagg">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Simon Tagg</div>
          <div class="team-slider__profession-name">
            Animation Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/chris.png" alt="Chris Hoenigmann">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Chris Hoenigmann</div>
          <div class="team-slider__profession-name">
            Animation Director 
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/marni.png" alt="Marni Manko">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Marni Manko</div>
          <div class="team-slider__profession-name">
            Creative Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/aimee.png" alt="Aimee Bensavage">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Aimee Bensavage</div>
          <div class="team-slider__profession-name">
            Account Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/ryan.png" alt="Ryan Cayer">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Ryan Cayer</div>
          <div class="team-slider__profession-name">
            Consigliere
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/benoit.png" alt="Benoît Dutrevis">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Benoît Dutrevis</div>
          <div class="team-slider__profession-name">
            Lead Developer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/audra.png" alt="Audra Stino">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Audra Stino</div>
          <div class="team-slider__profession-name">
            Animation Supervisor 
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/malcolm.png" alt="Malcolm Twist">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Malcolm Twist</div>
          <div class="team-slider__profession-name">
            Creative Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/kristen.png" alt="Kristen Melesky">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Kristen Melesky</div>
          <div class="team-slider__profession-name">
            Copy & Strategy
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/alexis.png" alt="Alexis Kenny">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Alexis Kenny</div>
          <div class="team-slider__profession-name">
            Account Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/nicole.png" alt="Nicole Valentine">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Nicole Valentine</div>
          <div class="team-slider__profession-name">
            Executive Admin
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Joff.png" alt="Joff Monkton">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Joff Monkton</div>
          <div class="team-slider__profession-name">
            Developer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Michael.png" alt="Michael Field">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Michael Field</div>
          <div class="team-slider__profession-name">
            Animator
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Rachel.png" alt="Rachel Leake">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Rachel Leake</div>
          <div class="team-slider__profession-name">
            Art Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Shoshana.png" alt="Shoshana Tyler">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Shoshana Tyler</div>
          <div class="team-slider__profession-name">
            Copywriter
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Lisa.png" alt="Lisa Tambini">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Lisa Tambini</div>
          <div class="team-slider__profession-name">
            Account Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Cecilia.png" alt="Cecilia Lizárraga">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Cecilia Lizárraga</div>
          <div class="team-slider__profession-name">
            Project Manager & QA
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Eduar.png" alt="Eduar Apaza Yañez">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Eduar Apaza Yañez</div>
          <div class="team-slider__profession-name">
            Developer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Anna.png" alt="Anna Stylianidou">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Anna Stylianidou</div>
          <div class="team-slider__profession-name">
            Animator
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Christine.png" alt="Christine Matthews">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Christine Matthews</div>
          <div class="team-slider__profession-name">
            Art Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Natalia.png" alt="Natalia Sánchez">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Natalia Sánchez</div>
          <div class="team-slider__profession-name">
            Account Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Claudine.png" alt="Claudine Delaney">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Claudine Delaney</div>
          <div class="team-slider__profession-name">
            Ops. Manager & QA
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Daniel.png" alt="Daniel Njoroge">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Daniel Njoroge</div>
          <div class="team-slider__profession-name">
            AEM Engineer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Titos.png" alt="Titos Agathangelou">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Titos Agathangelou</div>
          <div class="team-slider__profession-name">
            Animator
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Lauren.png" alt="Lauren Kalik">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Lauren Kalik</div>
          <div class="team-slider__profession-name">
            UX Designer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Ann.png" alt="Ann Mackenzie">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Ann Mackenzie</div>
          <div class="team-slider__profession-name">
            Account Director
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Rachel.png" alt="Rachael Mason">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Rachael Mason</div>
          <div class="team-slider__profession-name">
            Admin. Assistant
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Gus.png" alt="Gus Cantavero">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Gus Cantavero</div>
          <div class="team-slider__profession-name">
            Video Producer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Briann.png" alt="Brianne Rowe">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Brianne Rowe</div>
          <div class="team-slider__profession-name">
            Graphic Designer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Paul.png" alt="Paul Raimondi">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Paul Raimondi</div>
          <div class="team-slider__profession-name">
            Account Supervisor
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Georges.png" alt="Georges Jabbour">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Georges Jabbour</div>
          <div class="team-slider__profession-name">
            Video Editor
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Sophia.png" alt="Sophia Openshaw">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Sophia Openshaw</div>
          <div class="team-slider__profession-name">
            Graphic Designer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Jennifer.png" alt="Jennifer Mager">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Jennifer Mager</div>
          <div class="team-slider__profession-name">
            Managed Services
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Catina.png" alt="Catina Cricco">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Catina Cricco</div>
          <div class="team-slider__profession-name">
            Graphic Designer
          </div>
        </div>
      </div>
      <div class="team-slider__slide">
        <div class="team-slider__photo">
          <img src="images/meet-the-team/slider/Julia.png" alt="Julia Rotella">
        </div>
        <div class="team-slider__text">
          <div class="team-slider__name">Julia Rotella</div>
          <div class="team-slider__profession-name">
            Project Manager
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
