<section class="text-section text-section_team">
  <div class="container">
    <h2>
      She’s made big companies bigger ... <br />
      & pushed medium-sized companies to break out:
    </h2>
    <div class="text-section__wrap text-section__wrap_align-stretch">
      <div class="text-block">
        <span class="font-weight-500">Took the reins of Microsoft’s <span class="rose">$30M</span> Office 365 SaaS
        marketing budget</span> — new SMB customer acquisition exploded <span class="rose font-weight-500">80%</span> over
        goal & CPA plummeted by -23%. Microsoft is now valued at <span class="rose font-weight-500">$753 billion.</span>
        That’s bigger than Google.
      </div>
      <div class="text-block">
        <span class="font-weight-500">Launched strategic initiatives for Datasphere
        Technologies to sell its online advertising services via subscription,
        </span> positioning the company to be acquired by the largest TV network
        in the U.S. (Sinclair Broadcast Group).
      </div>
    </div>
    <h2>
      CMO Lyamen Savy has been right where you are:<br />on the client side.
    </h2>
    <h3>
      She knows what it takes to create a true integrated marketing program for
      the entire customer subscription lifecycle.
    </h3>
    <p>
      She has learned in the trenches — spending over $100 million in
      advertising dollars, and 31,000 hours of testing — to understand the
      entire digital customer experience. Marketing is in her DNA. No matter
      what state of maturity or funding your company is in, let our CMO and
      her team take you over the top.
    </p>
  </div>
</section>
