<section class="growth growth_gray-bg growth_creative">
  <div class="container">
    <!-- TODO заменить текст -->
    <h2>Get a dream team of designers, writers, and developers to take your sales to the next level.</h2>
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <!-- TODO изменить название картинки + alt -->
          <img src="images/creative-dev/hook-more-customers.svg" alt="Hook more customers">
        </div>
        <div class="descr-block__content">
          <h4>
            Hook more customers with the right bait.
          </h4>
          <p>
            Our mantra is “It’s not creative unless it sells.” That’s why we
            design websites, landing pages, thought leadership content, and
            email campaigns that are fully “mobile responsive,”
            “SEO optimized,” and built to get responses — every time.
          </p>
        </div>
      </div>
      <!-- TODO добавить класс descr-block_alt_margin-bottom -->
      <div class="descr-block descr-block_alt descr-block_alt_margin-bottom">
        <div class="descr-block__img">
          <!-- TODO изменить название картинки + alt -->
          <img src="images/creative-dev/behavioral-science.svg" alt="Behavioral science">
        </div>
        <div class="descr-block__content">
          <!-- TODO поменять текст -->
          <h4>Benefit from behavioral science and direct&#8209;response experts.</h4>
          <p>
            <!-- TODO поменять текст -->
            We’re not just throwing stuff at the wall to see what sticks.
            Our whip&#8209;smart copywriters and designers have a relentless focus
            on the data and user experience needed to convert your ideal
            customers into leads and repeat buyers.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <!-- TODO изменить название картинки + alt -->
          <img src="images/creative-dev/we-manage-everything.svg" alt="We manage everything">
        </div>
        <div class="descr-block__content">
          <h4>Leave the creative to us ... ALL of it.</h4>
          <p>
            We literally manage EVERYTHING, from journey mapping and copy
            strategy based on behavioral science — to design and development.
            Other agencies need constant handholding and micromanaging. Who
            has time for that?! We’re ready to DO IT ALL for you right now:
          </p>
          <div class="descr-block__list">
            <ul class="simple-list">
              <li class="simple-list__item">
                Website and mobile design – fully SEO optimized
              </li>
              <li class="simple-list__item">
                User Interface Design & Experience (UI/UX)
              </li>
              <li class="simple-list__item">
                Brand Identity Creation, Brand Messaging and Brand Audit
              </li>
              <li class="simple-list__item">
                eBooks, white papers, infographics, blog
              </li>
              <li class="simple-list__item">
                Value proposition development
              </li>
              <li class="simple-list__item">
                Banners & social media ads
              </li>
            </ul>
            <ul class="simple-list">
              <li class="simple-list__item">
                Explainer videos
              </li>
              <li class="simple-list__item">
                Webinars
              </li>
              <li class="simple-list__item">
                Tell-a-Friend rewards programs
              </li>
              <li class="simple-list__item">
                Photography & Video Production
              </li>
              <li class="simple-list__item">
                Sales pitch decks and collateral
              </li>
              <li class="simple-list__item">
                Email nurture and newsletters
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
