<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">Creative & Development</span>
    </div>
    <div class="intro__wrap intro__wrap_creative intro__wrap_flex">
      <div class="intro__text intro__text_creative-dev">
        <h1>Brilliant creative and content … <br />that sells like crazy</h1>

        <div class="subscribe subscribe_internal">
          <form action="">
            <div class="subscribe__text">Speak with the behavioral science experts</div>
            <div class="subscribe__container">
              <!-- TODO поменять блок div -->
              <div class="subscribe__group subscribe__group_relative subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
                <span class="error">Please enter your email</span>
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <!-- TODO убрать href -->
                <a class="btn btn--success">Contact me</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <img src="images/creative-content-development.png" class="intro__image intro__image--creative-dev" alt="Creative content development">
    </div>
  </div>
</section>
