<section class="text-section text-section_blue-bg text-section_creative">
  <div class="container">
    <!-- TODO поменять h2 -->
    <h2>Did you know:</h2>
    <div class="text-section__wrap">
      <div class="text-section__col text-section__col_width-50">
        <!-- TODO поменять h3 -->
        <h3><span class="yellow">96%</span> of website visitors leave and never ever come back?</h3>
        <!-- TODO поменять h3 -->
        <h3>A whopping <span class="yellow">99%</span> of banner and social media ads won’t ever get clicked on?</h3>
      </div>
      <div class="text-section__col">
        <p>
          <!-- TODO поменять текст -->
          We won’t stand for it. Our award-winning creative department will
          transform your website, digital ads and content into a high&#8209;performance
          marketing machine that captures leads, nurtures them, and generates
          sales on autopilot. Oh, and they’ll look amazing, too.
        </p>
      </div>
    </div>
  </div>
</section>
