<section class="descr-section">
  <div class="container">
    <div class="descr-block descr-block_margin-bottom descr-block_alt descr-block_alt_reverse descr-block_alt-reverse-mobile">
      <div class="descr-block__content">
        <h4>Fully managed 1,000+ words premium blog writing service</h4>
        <p>
          Our awesome Blog writing service is the easiest way to get great
          articles posted to your blog on your schedule — so prospects start
          to find you. True inbound marketing. You no longer have to come up
          with ideas, contract writers, and go through the endless editing 
          process just to get your blog up and running. We do it all for you.
        </p>
        <p>
          Our high-quality posts are written to engage, inform, and draw in your
          prospects. Let our wizards deliver highly relevant, researched,
          professionally written blog posts to your website every month.
        </p>
      </div>
      <div class="descr-block__img descr-block__img_width-488">
        <!-- TODO изменить название картинки + alt -->
        <img src="images/seo-optimization/premium-blog-writing.svg" alt="Premium blog writing">
      </div>
    </div>
    <div class="descr-block descr-block_margin-bottom descr-block_alt descr-block_alt_reverse descr-block_no-reverse descr-block_alt-reverse-mobile">
      <div class="descr-block__content">
        <h4>Premium content marketing</h4>
        <p>
          Everyone knows that content is king. But what should the king say?
          If you don’t know what your audience values, content is just a
          collection of pixels on a screen. We see the whole environment and
          know what matters to each targeted segment at different stages of
          their buying journey. Our content is the difference between complete
          engagement and complete indifference.
        </p>
      </div>
      <div class="descr-block__img descr-block__img_width-429">
        <!-- TODO изменить название картинки + alt -->
        <img src="images/seo-optimization/premium-content-marketing.svg" alt="Premium content marketing">
      </div>
    </div>
  </div>
</section>
