<section class="descr-section descr-section_seo_alt descr-section_padding-bottom">
  <div class="container">
    <h2>Fully managed, custom built onsite and offsite <br />SEO services.</h2>
    <h3>SEO Strategy & Research</h3>
    <div class="descr-section__container descr-section__container_align-center">
      <div class="descr-section__content descr-section__content_margin-top">
        <h4>Advance competition & keyword research</h4>
        <p>
          An effective SEO campaign isn’t about simply generating a boatload
          of traffic ... it’s about generating a boatload of targeted traffic.
          And it all starts with in-depth keyword research.
        </p>
        <p>
          We’ll dig and dig and dig until we learn which keyword combinations
          and strings lead to conversions (and which don’t). All of this
          research yields critical insights into the current market, customer
          psychology, and the Pandora’s box of details that make search engines
          tick.
        </p>
      </div>
      <div class="descr-section__list descr-section__list_width-mobile-100">
        <ul class="num-list">
          <li class="num-list__item">
            <div class="num-list__num">
              1
            </div>
            Research Keywords
          </li>
          <li class="num-list__item">
            <div class="num-list__num">
              2
            </div>
            Determine Keyword Value
          </li>
          <li class="num-list__item">
            <div class="num-list__num">
              3
            </div>
            Perform a Content Audit
          </li>
          <li class="num-list__item">
            <div class="num-list__num">
              4
            </div>
            Develop Content Strategy
          </li>
          <li class="num-list__item">
            <div class="num-list__num">
              5
            </div>
            Optimize for Conversions
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
