<section class="descr-section descr-section_seo descr-section_padding-bottom descr-section_gray-bg">
  <div class="container">
    <h2>Getting to the top of Google search is tricky business, and super time&#8209;consuming. There are no shortcuts. Except for one: hiring Rent a CMO.</h2>
    <div class="descr-section__container descr-section__container_align-center">
      <div class="descr-section__content descr-section__content_margin-top">
        <h3>Contact us ... then put up your feet, and pat yourself on the back for all of the hard work you didn’t have to do.</h3>
        <p>Our team will be toiling away with completely white hat techniques — researching, writing, testing, link building and optimizing to get your website in prime position.
        </p>
      </div>
      <div class="descr-section__img descr-section__img_alt">
        <!-- TODO изменить название картинки + alt -->
        <img src="images/seo-optimization/we-manage-everything.svg" alt="We manage everything">
      </div>
    </div>
  </div>
</section>
