<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">SEO Optimization</span>
    </div>
    <div class="intro__wrap intro__wrap_padding-top-0 intro__wrap_flex intro__wrap_flex_space-between">
      <div class="intro__text intro__text_seo intro__text_sales">
        <h1>
          Climb to the 1st page of Google organic
          search results faster.
        </h1>

        <div class="subscribe subscribe_internal">
          <form action="">
            <div class="subscribe__text">
              Hands-off, white hat SEO strategies so powerful, you’ll need a traffic light on your website.
            </div>
            <div class="subscribe__container">
              <div class="subscribe__group subscribe__group_seo subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
              </div>
              <div class="subscribe__group subscribe__group_btn-seo subscribe__group_btn-width">
                <a href="#contactForm" class="btn btn--success">Download price list</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="intro__image intro__image--common intro__image--seo">
        <!-- TODO изменить название картинки + alt -->
        <img src="images/seo-optimization/google-organic-search.svg" alt="Google organic search">
      </div>
    </div>
  </div>
</section>
