<section class="descr-section">
  <div class="container">
    <div class="descr-block descr-block_alt-reverse-mobile descr-block_h4-margin-bottom">
      <div class="descr-block__content descr-block__content_alt">
        <h4>Local citation & SEO services</h4>
        <p>
          The ONLY all-in-one local ranking machine. Crush local competition
          and rank in Google+ Local. Where 99% of Local SEO services fail, we
          excel. Our decisions are data backed, based on crawling of 100s of
          1000s of top-ranking Google+ Local pages, 1000s of hours of testing
          & 3 years of campaigns.  If it doesn’t impact rankings head on, we
          don’t mess with it.
        </p>
        <ul>
          <li>
            <span class="font-weight-500">Custom Campaigns</span>
            Thoughtful, non-templated campaigns. We build uniquely for your needs, niche, city. No campaign is ever the same.
          </li>
          <li>
            <span class="font-weight-500">Everything we build, is yours: </span>
            Profile, logins, etc.
          </li>
          <li>
            <span class="font-weight-500">Robust, valuable citations, </span>
            show Google you mean business.<br />No thin, spammy B.S.
          </li>
        </ul>
      </div>
      <div class="descr-block__img">
        <!-- TODO изменить название картинки + alt -->
        <img src="images/seo-optimization/local-citation-seo.svg" alt="Local citation seo">
      </div>
    </div>
    <div class="components">
      <h4>Built on the 4 Critical Components of Local&nbsp;SEO</h4>
      <div class="components__container">
        <div class="components__item">
          <div class="components__img">
            <img src="images/seo-optimization/comp1.png" alt="Full Citation Audit">
          </div>
          <div class="components__content">
            <h4>
              Full Citation Audit
            </h4>
            <p>
              The most important part of any Local SEO campaign is ensuring
              consistency, which is why every single HOTH Local campaign starts
              with a full audit.
            </p>
          </div>
        </div>
        <div class="components__item">
          <div class="components__img">
            <img src="images/seo-optimization/comp2.png" alt="Local Directory Citations">
          </div>
          <div class="components__content">
            <h4>
              Local Directory Citations
            </h4>
            <p>
              Local directory citations are the bread and butter of local. We
              make sure you are in the BEST directories for your niche and market.
            </p>
          </div>
        </div>
        <div class="components__item">
          <div class="components__img">
            <img src="images/seo-optimization/comp3.png" alt="">
          </div>
          <div class="components__content">
            <h4>
              Rich Media Citations
            </h4>
            <p>
              Anyone can do plain old directory submissions, but to make them
              count, we beef them up with geo-tagged photos and videos, plus
              citations and links from rich media sources.
            </p>
          </div>
        </div>
        <div class="components__item">
          <div class="components__img">
            <img src="images/seo-optimization/comp4.png" alt="">
          </div>
          <div class="components__content">
            <h4>
              Social Citations
            </h4>
            <p>
              Social media is becoming more important every year. We make sure
              you’re ahead of the game by getting you awesome social citations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
