<section class="descr-section descr-section_seo-services descr-section_gray-bg">
  <div class="container">
    <h2>On-Page SEO services</h2>
    <div class="descr-block descr-block_alt descr-block_alt_reverse descr-block_align-start descr-block_margin-bottom descr-block_h4-margin-bottom">
      <div class="descr-block__content descr-block__content_alt">
        <h4>Hands-off, done-for-you, technical on-page SEO optimization</h4>
        <p>
          Have you checked under the hood lately? It might be time to assess
          your site’s structure and SEO compliance. Our technical site audit
          goes well beyond the text on the page into the nitty-gritty background
          data that most users never see — all in order to identify potential
          issues related to usability, accessibility, authority distribution,
          and how search engines crawl your site.
        </p>
        <p>
          Let us perform an all-points cleanup and necessary upgrades to your
          website code and user experience. We will write new Title tags,
          meta-descriptions, URLs, H1s, internal links, and image ALT tags to
          fully optimize the page for users and search engines crawlers. We will
          set up all tracking, attribution and monitoring reports. If you have
          WordPress, we can even edit the pages directly if you provide logins.
        </p>
      </div>
      <div class="descr-block__img descr-block__img_width-467">
        <img src="images/seo-optimization/on-page-seo-optimization.svg" alt="On page seo optimization">
      </div>
    </div>
    <div class="descr-section__flex">
      <div class="descr-section__col">
        <h4>Optimize Architecture</h4>
        <ul>
          <li>Optimize Speed and Mobile</li>
          <li>Build Internal Links</li>
          <li>Create SEO-Friendly URLs</li>
          <li>HTTPS Security</li>
          <li>Upload sitemap to Google Search Console</li>
        </ul>
      </div>
      <div class="descr-section__col">
        <h4>Optimize HTML</h4>
        <ul>
          <li>Keywords and Modifiers</li>
          <li>Title Tags and Meta Descriptions</li>
          <li>Structured Markup</li>
          <li>Keyword Density</li>
        </ul>
      </div>
      <div class="descr-section__col">
        <h4>Tracking & analytics</h4>
        <ul>
          <li>Setup Google Analytics with Goals and appropriate attribution</li>
          <li>Set up Google Console and add sitemap</li>
          <li>Setup keyword position tracker</li>
          <li>Setup toxic backlinks monitoring and audit</li>
          <li>Disavow toxic backlinks & maintenance</li>
          <li>Setup Google Tag Manager</li>
        </ul>
      </div>
    </div>
  </div>
</section>
