<section class="growth growth_without-title">
  <div class="container">
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/lifecycle/LM1.png" srcset="images/lifecycle/LM1@2x.png 2x" alt="Automated Email Lead Nurture">
        </div>
        <div class="descr-block__content">
          <h4>
            Automated Email Lead Nurture
          </h4>
          <p>
            Send the right message at exactly the right time with
            highly - personalized email nurture campaigns that convert more
            cold leads into hot leads ... and get your phones ringing.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/lifecycle/LM2.png" srcset="images/lifecycle/LM2@2x.png 2x" alt="Automated Email & In-App Customer Onboarding">
        </div>
        <div class="descr-block__content">
          <h4>Automated Email & In-App Customer Onboarding</h4>
          <p>
            Make sure first-time clients engage with your product or service
            immediately, and keep using it with 30-60-90 day automated onboarding
            strategies, including emails, in-app guided tours, and training videos.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/lifecycle/LM3.png" srcset="images/lifecycle/LM3@2x.png 2x" alt="Automated Email Nurture to Boost Usage">
        </div>
        <div class="descr-block__content">
          <h4>Automated Email Nurture to Boost Usage</h4>
          <p>
            Engage, engage, engage! We make sure your customers continue to use
            your product or service well after the initial onboarding period,
            with special announcements and engaging emails to keep them interested
            and active.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-443">
          <img src="images/lifecycle/LM4.png" srcset="images/lifecycle/LM4@2x.png 2x" alt="Automated Email & In-app UX Upsell Strategies">
        </div>
        <div class="descr-block__content">
          <h4>Automated Email & In-app UX Upsell Strategies</h4>
          <p>
            We know what it takes to get customers to buy ... and to spend more.
            Generate more revenue with our time-tested, proven behavioral science
            upsell and cross-sell strategies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
