<section class="growth growth_without-title">
  <div class="container">
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/lifecycle/automated-email-lead-nurture.svg" alt="Automated Email Lead Nurture">
        </div>
        <div class="descr-block__content">
          <h4>
            Automated Email Lead Nurture
          </h4>
          <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
          <p>
            Send the right message at exactly the right time with
            highly&#8209;personalized email nurture campaigns that convert more
            cold leads into hot leads ... and get your phones ringing.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/lifecycle/automated-customer-onboarding.svg" alt="Automated customer onboarding">
        </div>
        <div class="descr-block__content">
          <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
          <h4>Automated Email & In&#8209;App Customer Onboarding</h4>
          <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
          <p>
            Make sure first&#8209;time clients engage with your product or service
            immediately, and keep using it with 30&#8209;60&#8209;90 day automated onboarding
            strategies, including emails, in&#8209;app guided tours, and training videos.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/lifecycle/boost-usage.svg" alt="Boost Usage">
        </div>
        <div class="descr-block__content">
          <h4>Automated Email Nurture to Boost Usage</h4>
          <p>
            Engage, engage, engage! We make sure your customers continue to use
            your product or service well after the initial onboarding period,
            with special announcements and engaging emails to keep them interested
            and active.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-443">
          <img src="images/growth/upsell-cross-sell.svg" alt="Automated Email & In-app UX Upsell Strategies">
        </div>
        <div class="descr-block__content">
          <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
          <h4>Automated Email & In&#8209;app UX Upsell Strategies</h4>
          <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
          <p>
            We know what it takes to get customers to buy ... and to spend more.
            Generate more revenue with our time&#8209;tested, proven behavioral science
            upsell and cross&#8209;sell strategies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
