<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">Lifecycle Marketing</span>
    </div>
    <div class="intro__wrap intro__wrap_flex intro__wrap_lifecycle">
      <div class="intro__text intro__text_max-width-50">
        <h1>
          We turn leads into customers&nbsp;—<br />
          and customers into the loudest
          cheerleaders for your products<br />and services
        </h1>

        <div class="subscribe subscribe_internal">
          <form action="">
            <div class="subscribe__text">Start wowing your users every step of the journey</div>
            <div class="subscribe__container">
              <div class="subscribe__group subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
              </div>
              <div class="subscribe__group">
                <a href="#contactForm" class="btn btn--success">Contact me</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="intro__image intro__image--lifecycle">
        <img src="images/lifecycle/leads-into-customers-cheerleaders.svg" alt="Leads into customers cheerleaders">
      </div>
    </div>
  </div>
</section>
