<section class="text-section text-section_gray-bg text-section_lifecycle">
  <div class="container">
    <h2>
      We’ve run thousands of tests and invested 31,000 hours into the science
      behind lifecycle marketing.
    </h2>
    <h3>
      We can see patterns. Heck, we can spot profitability and growth problems<br />
      before they even become problems.
    </h3>
    <p>
      We know how people find out about subscription products and services,
      and how they make decisions to buy, use, renew, and share with friends.
      Use our knowledge to catapult sales, adoption, usage, renewals, MRR and
      ARPA.
    </p>
  </div>
</section>
