<section class="descr-section descr-section_padding-bottom descr-section_gray-bg">
  <div class="container">
    <div class="descr-section__container">
      <div class="descr-section__content">
        <h2>
          Working with separate agencies for all of your digital and traditional
          media is just plain inefficient.
        </h2>
        <p>
          Instead of getting big-picture media plan advice that delivers max
          ROI, you get a puzzle of little-picture suggestions that no one puts
          together for you. Which channels are assisting with sales conversions?
          Which channels are wasting your budget? Who knows?! It’s all over the
          place.
        </p>
      </div>
      <div class="descr-section__img descr-section__img_small">
        <img src="images/paid-media/pm-1.svg" alt="">
      </div>
    </div>
  </div>
</section>
