<!-- TODO descr-section_padding-bottom-60 заменить на descr-section_padding-bottom -->
<section class="descr-section descr-section_padding-bottom descr-section_gray-bg">
  <div class="container">
    <!-- TODO Поменять текст -->
    <h2>
      Stop throwing money at failing paid media strategies.<br />
      Hire a pro. Get maximum returns.
    </h2>
    <div class="descr-section__container">
      <div class="descr-section__content descr-section__content_margin-top">
        <h3>
          Our CMO has spent over $100M on testing all paid media channels
          and strategies available for both B2B and B2C companies.
        </h3>
        <p>
          We know the most efficient ways to reach ideal customers ... what
          creative works best for each channel ... and how investing in one
          channel impacts others, for better or worse. Stop risking your
          company’s future on DIY strategies that are doomed to fail. Rent
          a CMO and do it right.
        </p>
      </div>
      <div class="descr-section__img descr-section__img_alt">
        <!-- TODO изменить название картинки + alt -->
        <img src="images/paid-media/hire-a-professional.svg" alt="Hire a professional">
      </div>
    </div>
  </div>
</section>
