<section class="growth growth_alt growth_paid-media">
  <div class="container">
    <h2>
      With all of your media consolidated, we can easily react and shift
      budgets based on performance, seasonality, holidays, elections, supply,
      demand, you name it. <br />It’s a control freak’s paradise!
    </h2>
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/creative-dev/CD1.png" srcset="images/creative-dev/CD1@2x.png 2x" alt="Develop a media strategy and plan">
        </div>
        <div class="descr-block__content">
          <h4>
            Develop a media strategy and plan that generates maximum
            leads and sales – at the lowest cost per acquisition.
          </h4>
          <p>
            We manage your budget to use the most efficient and scalable
            tactics first, and then expand from there.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/creative-dev/CD2.png" srcset="images/creative-dev/CD2@2x.png 2x" alt="Test, test, test">
        </div>
        <div class="descr-block__content">
          <h4>Test, test, test</h4>
          <p>
            Other agencies are content to set it and forget it. Not us. Not
            ever. Ongoing testing and investment in the right channels allows
            us to scale and grow your subscriber base without growing your
            cost per acquisition.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/creative-dev/CD3.png" srcset="images/creative-dev/CD3@2x.png 2x" alt="Take advantage of the best team in the business">
        </div>
        <div class="descr-block__content">
          <h4>Take advantage of the best team in the business</h4>
          <p>
            To develop laser-targeted ads that speak directly to your ideal
            audience, we use advanced tracking to measure ROI. Our specialists
            keep up with all the changes to targeting capabilities, ad formats,
            AI and big data intricacies, and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
