<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <a href="" class="breadcrumb__link">Capabilities</a>
      <span class="breadcrumb__divider">/</span>
      <a href="" class="breadcrumb__link">Paid Media</a>
    </div>
    <div class="intro__wrap intro__wrap_creative intro__wrap_flex">
      <div class="intro__text intro__text_paid-media intro__text_creative-dev">
        <h1>
          Get ridiculous pay-outs from all of your paid media without spending even $1 more on advertising.
        </h1>

        <div class="subscribe subscribe_internal">
          <form action="">
            <div class="subscribe__text">
              Let’s talk about improving your payouts from paid media.
            </div>
            <div class="subscribe__container">
              <div class="subscribe__group subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <button class="btn btn--success">Contact me</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="intro__image intro__image--creative-dev">
        <img src="images/intro-paid-media.svg" alt="">
      </div>
    </div>
  </div>
</section>
