<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">Paid Media</span>
    </div>
    <div class="intro__wrap intro__wrap_creative intro__wrap_flex">
      <div class="intro__text intro__text_paid-media intro__text_creative-dev">
        <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
        <h1>Get ridiculous pay&#8209;outs from all of your paid media without spending even $1 more on advertising.</h1>

        <div class="subscribe subscribe_internal">
          <form action="">
            <div class="subscribe__text">
              Let’s talk about improving your payouts from paid media.
            </div>
            <div class="subscribe__container">
              <!-- TODO поменять блок div -->
              <div class="subscribe__group subscribe__group_relative subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
                <span class="error">Please enter your email</span>
              </div>
              <div class="subscribe__group subscribe__group_btn-width">
                <!-- TODO убрать href -->
                <a class="btn btn--success">Contact me</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="intro__image intro__image--paid-media intro__image--common">
        <img src="images/paid-media.svg" alt="Paid Media">
      </div>
    </div>
  </div>
</section>
