<section class="descr-section descr-section_paid-media descr-section_blue-bg">
  <div class="container">
    <h2>Rent a CMO is different.</h2>
    <h3>
      We have the expertise to handle all of your paid media in one place,
      making all of the channels work seamlessly together, including:
    </h3>
    <div class="descr-section__container">
      <div class="descr-section__content descr-section__content_flex">
        <div class="descr-section__list">
          <h4>Digital media:</h4>
          <ul class="features-list features-list_no-border">
            <li class="features-list__item features-list__item_paid-media">
              <span class="font-weight-500">SEM</span><br />
              Google Ads & Bing Ads
            </li>
            <li class="features-list__item features-list__item_paid-media">
              <span class="font-weight-500">Social Ads</span><br />
              Facebook, LinkedIn, Instagram, YouTube
            </li>
            <li class="features-list__item features-list__item_paid-media">
              <span class="font-weight-500">Programmatic Display</span><br />
              Rocketfuel, Quantcast, Dstillery, Google Display Network
            </li>
            <li class="features-list__item features-list__item_paid-media">
              <span class="font-weight-500">Retargeting</span><br />
              Display and Social
            </li>
            <li class="features-list__item features-list__item_paid-media">
              <span class="font-weight-500">Native</span><br />
              Taboola and Outbrain
            </li>
          </ul>
        </div>
        <div class="descr-section__list">
          <h4>Traditional media:</h4>
          <ul class="features-list features-list_no-border">
            <li class="features-list__item features-list__item_paid-media">TV & radio</li>
            <li class="features-list__item features-list__item_paid-media">Print Magazines</li>
            <li class="features-list__item features-list__item_paid-media">Out-of-Home Media</li>
            <li class="features-list__item features-list__item_paid-media">Direct mail</li>
          </ul>
        </div>
      </div>
      <div class="descr-section__img descr-section__img_alt">
        <img src="images/paid-media/digital-traditional-media.png" srcset="images/paid-media/digital-traditional-media@2x.png 2x" alt="Digital traditional media">
      </div>
    </div>
  </div>
</section>
