<section class="companies">
  <div class="container">
    <h4>Trusted by</h4>
    <div class="companies__container">
      <div class="companies__item"><img src="images/companies/1logo.png" alt="Market Leader Logo"></div>
      <div class="companies__item"><img src="images/companies/2logo.png" alt="ING DIRECT Logo"></div>
      <div class="companies__item"><img src="images/companies/3logo.png" alt="Capital One Logo"></div>
      <div class="companies__item"><img src="images/companies/4logo.png" alt="DataSphere Logo"></div>
      <div class="companies__item"><img src="images/companies/5logo.png" alt="Microsoft Logo"></div>
      <div class="companies__item"><img src="images/companies/6logo.png" alt="PipelineDeals"></div>
    </div>
  </div>
</section>
