<section class="contact-us">
  <div class="container">
    <h2>Do it once. Do it right. Do it fast.</h2>
    <div class="contact-us__container">
      <div class="contact-us__content">
        <h3>
          Marketing department or no marketing department, we give you the
          capacity & subject matter experts to crush your competition.
        </h3>
        <p>
          Our CMO’s lean startup marketing practices have generated over
          $1B in revenue for companies including Microsoft, Capital One
          Investing, and a roster of startups with successful exits. Fill
          out this form and find out how we can increase your revenue..
        </p>
        <p>
          For faster service, call 1-866-6-RENT-CMO.
        </p>
      </div>
      <div class="contact-us__form">
        <form action="" class="contact-form form">
          <div class="form__item">
            <label for="theme" class="form__label">I’d like to chat about:</label>
            <select class="select form__select" id="theme" name="theme">
              <option value="general-inquiry">General inquiry</option>
            </select>
          </div>
          <div class="form__item">
            <input type="text" id="name" class="form__input" placeholder="Name:" required />
          </div>
          <div class="form__group form-grid">
            <div class="form__item form-grid__col">
              <input type="text" class="form__input" id="company-mail" placeholder="Company email:" required />
            </div>
            <div class="form__item form-grid__col">
              <input type="tel" class="form__input" id="tel" placeholder="Phone number" required />
            </div>
          </div>
          <div class="form__item">
            <input type="text" id="job-title" class="form__input" placeholder="Job title:" required />
          </div>
          <div class="form__item">
            <label for="budget" class="form__label">Monthly marketing budget:</label>
            <select class="select form__select" id="budget" name="budget">
              <option value="general-inquiry">$0 to $5,000</option>
            </select>
          </div>
          <div class="form__item">
            <input type="url" id="website" class="form__input" placeholder="Website URL" required />
          </div>
          <div class="form__item">
            <label for="currently-work" class="form__label">You are currently... </label>
            <select class="select form__select" id="currently-work" name="currently-work">
              <option value="general-inquiry">Working with an agency</option>
            </select>
          </div>
          <div class="form__item">
            <textarea class="form__textarea" placeholder="Tell us a little bit about your company and major problem areas which you would like to improve..."></textarea>
          </div>
          <button type="submit" class="btn btn--success">Contact me</button>
        </form>
      </div>
    </div>
  </div>
</section>
