<section class="descr">
  <div class="container">
    <h2>Spark customers to buy, pay, renew and repeat</h2>
    <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
    <h3>Rent a CMO is a unique, full&#8209;funnel marketing agency for B2B and B2C companies who sell subscription products and services.</h3>
    <p>
      We come fully loaded. Our CMO managed global marketing campaigns,
      end to end, for some of the world’s largest Fortune 100 companies and
      startups. After spending more than 31,000 hours and $100 million on
      advertising — and running 1,000+ tests — she knows what works. And what
      not to waste your time and marketing dollars on.
    </p>
    <div class="descr__container">
      <div class="descr__img">
        <img src="images/full-funnel-marketing-agency.svg" alt="Full funnel marketing agency">
      </div>
      <ul class="descr__list features-list">
        <li class="features-list__item">
          Everyone promises awareness or leads. We deliver buyers.
        </li>
        <li class="features-list__item">
          Roll back lead acquisition costs &&nbsp;pump up ROI.
        </li>
        <li class="features-list__item">
          Drive customer adoption rates &&nbsp;expansion revenue.
        </li>
        <li class="features-list__item">
          Boost usage & send renewals soaring.
        </li>
        <li class="features-list__item">
          Ramp up faster & beat competitors every step of the way.
        </li>
      </ul>
    </div>
  </div>
</section>
