<section class="intro">
  <div class="container">
    <div class="intro__text">
      <h1>We help Fortune 100s & startups exponentially grow their <span class="_typed-text"></span></h1>
      <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
      <h3>With <a href="#">$1 billion</a> in monthly recurring revenue generated for subscription&#8209;based businesses, we&nbsp;know what works.</h3>
      <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
      <p>Whether you need high&#8209;level strategy — or flawless end&#8209;to&#8209;end execution — we&nbsp;don't just move the needle. We blow it off the dial.</p>

      <div class="subscribe">
        <form action="">
          <div class="subscribe__text">Schedule your strategy session now.</div>
          <div class="subscribe__container">
            <!-- TODO поменять блок div -->
            <div class="subscribe__group subscribe__group_relative subscribe__group_size">
              <input type="email" class="form__input" placeholder="Enter your work email here">
              <span class="error">Please enter your email</span>
            </div>
            <div class="subscribe__group">
              <a href="#contactForm" class="btn btn--success">Talk to our CMO</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="intro__image">
      <img class="intro__image--second" src="images/lyamen-photo.png" srcset="images/lyamen-photo@2x.png 2x" alt="Lyamen Savy">
      <img src="images/grow-subscribers-renewals-MRR.svg" alt="Grow subscribers renewals">
      <div class="intro__author">
        <div class="intro__name">
          Lyamen Savy
        </div>
        <div class="intro__author-text">
          Meet our CMO
        </div>
      </div>
    </div>
  </div>
</section>
