<section class="statistics">
  <div class="container">
    <h2>Nobody knows subscription marketing like we do. Nobody.</h2>
    <div class="statistics__container">
      <div class="statistics__item">
        <div class="statistics__number">43K+</div>
        <!-- TODO поменять p -->
        <p>Hours invested on <br />research&nbsp;&&nbsp;field testing</p>
      </div>
      <div class="statistics__item">
        <div class="statistics__number">100m+</div>
        <!-- TODO поменять p -->
        <p>Marketing dollars spent <br />testing all paid media</p>
      </div>
      <div class="statistics__item">
        <div class="statistics__number">1K+</div>
        <!-- TODO поменять p -->
        <p>A/B creative & value <br />proposition messages tested</p>
      </div>
      <div class="statistics__item statistics__item_small">
        <div class="statistics__number">$1b+</div>
        <!-- TODO поменять p -->
        <p>Monthly recurring <br />revenue generated</p>
      </div>
    </div>
  </div>
</section>
