<section class="steps">
  <div class="container">
    <!-- TODO поменять h2 и h3 -->
    <h2>For early stage startups:</h2>
    <h3>Strategies that are absolutely critical for you to ramp up fast and make a huge splash without a ton of cash</h3>
    <div class="steps__container">
      <div class="steps__list">
        <div class="step">
          <div class="step__count">
            1
          </div>
          <h4>Validate Demand</h4>
          <!-- TODO поменять p -->
          <p>Validate before you build — to develop winning products & weed out duds.</p>
        </div>
        <div class="step">
          <div class="step__count">
            2
          </div>
          <h4>Fine tune business models</h4>
          <!-- TODO поменять p -->
          <p>Get customers to pay, renew, and even pay more with pricing plans, bundles & monetization strategies.</p>
        </div>
        <div class="step">
          <div class="step__count">
            3
          </div>
          <h4>Get funded</h4>
          <!-- TODO поменять p -->
          <p>Marketing plans that gain investors’ confidence and get you funding to fuel rapid growth.</p>
        </div>
        <div class="step">
          <div class="step__count">
            4
          </div>
          <h4>Start selling</h4>
          <!-- TODO поменять p -->
          <p>Value proposition development that sets your company apart in the marketplace.</p>
        </div>
      </div>
      <div class="steps__img">
        <!-- TODO изменить название картинки -->
        <img src="images/early-stage-startups.svg" alt="Early stage startups">
      </div>
    </div>
    <button type="button" class="btn btn--success">Find out more</button>
  </div>
</section>
