<section class="growth growth_gray-bg">
  <div class="container">
    <h2>When it comes to your digital transformation, we do it all.</h2>
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/digital-trans/DT1.svg" alt="Launch lead generation programs built on real-time customer data">
        </div>
        <div class="descr-block__content">
          <h4>
            Launch lead generation programs built on real-time customer data
          </h4>
          <p>
            Use that data to craft personalized messaging and content to push
            prospects down the funnel and increase conversion rates.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/digital-trans/DT2.png" srcset="images/digital-trans/DT2@2x.png 2x" alt="Implement self-service new customer acquisition strategies">
        </div>
        <div class="descr-block__content">
          <h4>Implement self-service new customer acquisition strategies</h4>
          <p>
            Using digital capabilities — like bots, chats, and automations —
            that allow you to cost effectively sell a low-priced product, scale,
            and grow without hiring sales people.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-467">
          <img src="images/digital-trans/DT3.png" srcset="images/digital-trans/DT3@2x.png 2x" alt="Optimize the post-sale customer experience">
        </div>
        <div class="descr-block__content">
          <h4>Optimize the post-sale customer experience</h4>
          <p>
            With the power of digital, using guided tours, training videos, AI,
            and personalization to improve onboarding while increasing adoption,
            usage, licenses, upgrades and renewals.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/digital-trans/DT4.svg" alt="Get a “ninja analysis” of your closest competitors">
        </div>
        <div class="descr-block__content">
          <h4>Get a “ninja analysis” of your closest competitors</h4>
          <p>
            I don’t want to say we’re spies. But, okay, we’re spies. Our team
            of ninjas goes beyond topline analysis to show you how to exploit
            your competitors’ weaknesses ... and even poke holes in their
            strengths.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-443">
          <img src="images/digital-trans/DT5.svg" alt="Develop partner channels that print money, month after month">
        </div>
        <div class="descr-block__content">
          <h4>Develop partner channels that print money, month after month</h4>
          <p>
            We’ll help you develop a scalable partner channel program,
            from recruiting, onboarding and activating new partners to growing
            existing partners and even activating the dormants.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-443">
          <img src="images/digital-trans/DT8.svg" alt="Identify the optimal combo of features/benefits/offers before you spend a dime on in-market testing">
        </div>
        <div class="descr-block__content">
          <h4>Identify the optimal combo of features/benefits/offers before you spend a dime on in-market testing</h4>
          <p>
            Market research like this will allow you to test 40+ messages
            in one fell swoop ... in less than 45 days. Testing that many
            scenarios in market would take about a decade and cost millions.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img descr-block__img_width-488">
          <img src="images/digital-trans/DT9.svg" alt="Ensure a smooth digital transformation with the right marketing & tech stack">
        </div>
        <div class="descr-block__content">
          <h4>Ensure a smooth digital transformation with the right marketing & tech stack</h4>
          <p>
            We’ll take a look at what you’re running. If you’re not leveraging
            today’s best tech tools to automate and improve customer experiences,
            both pre-and post-sale, we’ll advise tweaks or overhauls for max
            profits.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
