<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">Digital Transformation</span>
    </div>
    <div class="intro__wrap intro__wrap_padding-top-0 intro__wrap_flex">
      <div class="intro__text intro__text_sales intro__text_max-width-55">
        <h1>Acquire new subscribers faster & grow revenue with industry-proven usage, upsell and renewal strategies</h1>
        <div class="subscribe subscribe_internal">
          <form action="">
            <div class="subscribe__text">Schedule your strategy session now.</div>
            <div class="subscribe__container">
              <!-- TODO поменять блок div -->
              <div class="subscribe__group subscribe__group_relative subscribe__group_big">
                <input type="email" class="form__input" placeholder="Enter your work email here">
                <span class="error">Please enter your email</span>
              </div>
              <div class="subscribe__group">
                <!-- TODO убрать href -->
                <a class="btn btn--success">Contact me</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="intro__image intro__image--digital-trans intro__image_with-gradient">
        <img class="intro__image--main" src="images/new-customer-acquisition.svg" alt="New customer acquisition">
      </div>
    </div>
  </div>
</section>
