<section class="contact-us contact-us_white-bg">
  <div class="container">
    <div class="contact-us__container">
      <div class="contact-us__content contact-us__content_margin-right-small contact-us__content_padding-top-0">
        <h2>
          Reserve your strategy session now — spots are filling up fast!
        </h2>
        <h3>
          Why spend $2,000,000 staffing up when you can Rent a CMO?
        </h3>
      </div>
      <div class="contact-us__form">
        <form action="" class="contact-form contact-form_gray-bg form">
          <div class="form__item">
            <label for="theme" class="form__label">I’d like to chat about:</label>
            <select class="select form__select" id="theme" name="theme">
              <option value="general-inquiry">General inquiry</option>
            </select>
          </div>
          <div class="form__item">
            <input type="text" id="name" class="form__input" placeholder="Name:" required>
          </div>
          <div class="form__group form-grid">
            <div class="form__item form-grid__col">
              <input type="text" class="form__input" id="company-mail" placeholder="Company email:" required>
            </div>
            <div class="form__item form-grid__col">
              <input type="tel" class="form__input" id="tel" placeholder="Phone number" required>
            </div>
          </div>
          <div class="form__item">
            <input type="text" id="job-title" class="form__input" placeholder="Job title:" required>
          </div>
          <div class="form__item">
            <label for="budget" class="form__label">Monthly marketing budget:</label>
            <select class="select form__select" id="budget" name="budget">
              <option value="general-inquiry">$0 to $5,000</option>
            </select>
          </div>
          <div class="form__item">
            <input type="url" id="website" class="form__input" placeholder="Website URL" required>
          </div>
          <div class="form__item">
            <label for="currently-work" class="form__label">You are currently... </label>
            <select class="select form__select" id="currently-work" name="currently-work">
              <option value="general-inquiry">Working with an agency</option>
            </select>
          </div>
          <div class="form__item">
            <textarea class="form__textarea" placeholder="Tell us a little bit about your company and major problem areas which you would like to improve..."></textarea>
          </div>
          <button type="submit" class="btn btn--success">Contact me</button>
        </form>
      </div>
    </div>
  </div>
</section>
