<section class="descr-section descr-section_padding-bottom">
  <div class="container">
    <div class="descr-section__container descr-section__container_reverse">
      <div class="descr-section__content descr-section__content_margin-top descr-section__content_reverse">
        <!-- TODO поменять h2 и h3 -->
        <h2>When you choose our agency, you’re renting the mind of a profit&#8209;seeking, seasoned CMO, and the skills of her crackerjack team.</h2>
        <h3>We become a seamless extension of your company, ready to roll up our sleeves and get work done.</h3>
      </div>
      <!-- TODO добавить класс descr-section__img_alt-width -->
      <div class="descr-section__img descr-section__img_alt-width descr-section__img_margin-top-0">
        <!-- TODO изменить название картинки + alt -->
        <img src="images/rent-vs-buy/profit-seeking-cmo.svg" alt="Profit seeking CMO">
      </div>
    </div>
  </div>
</section>
