<section class="descr-section descr-section_padding-bottom-60">
  <div class="container">
    <div class="descr-section__container descr-section__container_reverse">
      <div class="descr-section__content descr-section__content_margin-top descr-section__content_reverse">
        <h2>
          When you choose our agency, you’re renting the mind of a profit-seeking,
          seasoned CMO, and the skills of her crackerjack team.
        </h2>
        <h3>
          We become a seamless extension of your company, ready to roll up our
          sleeves and get work done.
        </h3>
      </div>
      <div class="descr-section__img descr-section__img_margin-top-0">
        <img src="images/rent-vs-buy/RB1.svg" alt="">
      </div>
    </div>
  </div>
</section>
