<section class="differences">
  <div class="container">
    <div class="differences__container">
      <div class="differences__col">
        <h2 class="yellow-title">What you get with Rent a CMO</h2>
        <ul class="differences__list">
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/1.svg" alt="Senior consultants">
            </div>
            <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
            <p class="differences__text">
              Senior consultants and digital customer experience experts
              who know the ins&#8209;and&#8209;outs of selling subscription products
              and services.
            </p>
          </li>
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/2.svg" alt="Battle-tested strategies">
            </div>
            <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
            <p class="differences__text">
              Battle&#8209;tested strategies that we’ve honed by running 1,000+ tests
              and spending more than 31,000 hours and $100 million on
              advertising.
            </p>
          </li>
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/3.svg" alt="Complete customer lifecycle journey">
            </div>
            <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
            <p class="differences__text">
              Soup&#8209;to&#8209;nuts agency specializing in the complete customer
              lifecycle journey. We handle everything from pre&#8209;launch to
              post&#8209;launch and every critical touch point in between.
            </p>
          </li>
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/4.svg" alt="Flawless end-to-end execution of innovative ideas">
            </div>
            <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
            <p class="differences__text">
              Flawless end&#8209;to&#8209;end execution of innovative ideas guaranteed to
              make a seismic impact on your profits.
            </p>
          </li>
        </ul>
      </div>
      <div class="differences__col">
        <h2>What you get with other agencies</h2>
        <ul class="differences__list">
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/5.svg" alt="Junior level">
            </div>
            <p class="differences__text">
              Junior level staff who’ll take your order and try to learn your
              business on the fly.
            </p>
          </li>
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/6.svg" alt="Half-baked ideas">
            </div>
            <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
            <p class="differences__text">
              Half&#8209;baked ideas that may or may not work because they’ve never
              been tested in subscription&#8209;based environments.
            </p>
          </li>
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/7.svg" alt="A single specialty">
            </div>
            <p class="differences__text">
              A single specialty, like paid search or social media. Great,
              now you have to manage multiple agencies to get it all done.
            </p>
          </li>
          <li class="differences__item">
            <div class="differences__img">
              <img src="images/rent-vs-buy/8.svg" alt="Consulting advice">
            </div>
            <!-- TODO поменять текст + проверить квадратики и пробелы в консоли -->
            <p class="differences__text">
              Consulting advice and a complicated plan that you have to
              implement — but won’t — because you don’t have the time,
              resources, and in&#8209;house expertise.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
