<section class="growth growth_gray-bg">
  <div class="container">
    <h2>
      Adding headcount just adds headaches
    </h2>
    <div class="growth__container growth__container_margin-bottom-0">
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/rent-vs-buy/RB2.svg" alt="The Time Strain">
        </div>
        <div class="descr-block__content">
          <h4>
            The Time Strain
          </h4>
          <p>
            Data shows it takes about 250 resumes to fill one position.
            The long-drawn- out recruiting process can take a minimum of 3
            months per position. And even if you do find a diamond in the
            rough, that new hire needs a few months just to ramp up and learn
            your business. So now 6 months have gone by and you have one new,
            green employee to show for it. In 6 months, Rent a CMO could’ve 
            already launched a number of campaigns for you, and started 
            implementing findings to dramatically improve your results.
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/rent-vs-buy/RB3.svg" alt="Automated Email & In-App Customer Onboarding">
        </div>
        <div class="descr-block__content">
          <h4>The Money Pit</h4>
          <p>
            Hiring a full-time, experienced marketing team is going to cost you
            an arm and a leg. The salaries alone for a competent team of 10
            (including a VP of marketing, marketing managers, media managers,
            copywriters, designers, and analysts) could easily run you close
            to $2,000,000. Oh, then tack on another few hundred thousand in 
            recruiter fees. Cha-ching!
          </p>
        </div>
      </div>
      <div class="descr-block descr-block_alt">
        <div class="descr-block__img">
          <img src="images/rent-vs-buy/RB4.svg" alt="Automated Email Nurture to Boost Usage">
        </div>
        <div class="descr-block__content">
          <h4>The “Save-Now-Pay-Later” Trap</h4>
          <p>
            Sure you might be tempted to save a little cash by hiring junior
            employees. But you know what that gets you? Junior ideas. You can’t
            expect inexperienced marketers to bring you breakthrough solutions
            to deeply entrenched problems. Plus, you’ll be spending all your
            time micromanaging and fixing execution problems. With Rent a CMO,
            you get game-changing ideas and flawless execution from the get
            go — with no handholding.
          </p>
        </div>
      </div>
    </div>
    <div class="growth__btn-container">
      <div class="growth__text-for-btn">
        See why renting beats hiring
      </div>
      <!-- TODO поменять кнопку на ссылку с href -->
      <a href="#contactForm" class="btn btn--success">Let's talk</a>
    </div>
  </div>
</section>
