<section class="intro intro_internal-page">
  <div class="container">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb__link">Home</a>
      <span class="breadcrumb__divider">/</span>
      <span class="breadcrumb__link">Rent vs. Buy</span>
    </div>
    <div class="intro__wrap intro__wrap_flex intro__wrap_flex_space-between intro__wrap_creative">
      <div class="intro__text intro__text_max-width-50">
        <h1>
          The easiest, smartest, cheapest way to scale your business and gain
          market share — FAST
        </h1>
        <p>
          It doesn’t matter if you’re a startup, or more well-established.
          If you’re like the vast majority of businesses we’ve worked with,
          your company has an employee bandwidth problem. You just don’t have
          the team capacity, time or budgetrequired to find and hire ideal
          subject matter experts in digital advertising and subscription
          business models.
        </p>
      </div>

      <div class="intro__image intro__image--common">
        <img src="images/rent-vs-buy/intro-rent.svg" alt="">
      </div>
    </div>
  </div>
</section>
