<section class="text-section text-section_p-center">
  <div class="container">
    <h2>
      Do you hear that? It’s the competition gaining on you.
    </h2>
    <p>
      If you want to separate yourself from the pack and stay in front — way,
      way in front — you need to start improving your metrics now. The longer
      you wait, the harder it is to meet your revenue growth goals. And that
      hole you’re in keeps getting deeper. We know how to dig you out. Other
      agencies just don’t have the expertise or vision that subscription model
      companies need to succeed.
    </p>
  </div>
</section>
